/*
 *  Flex Layout Specifics
*/
main{
  display:flex;
  flex-direction:row;
}
.round{
  display:flex;
  flex-direction:column;
  justify-content:center;
  width:400px;
  list-style:none;
  padding:0;
}
.round .spacer{ flex-grow:1; }
.round .spacer:first-child,
.round .spacer:last-child{ flex-grow:.5; }

.round .game-spacer{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


li.game{
  padding-left:20px;
  input {
    margin: 0;
    width: 31px;
    height: 100%;
  }
}

li.game.winner{
  font-weight:bold;
}
li.game span{
  float:right;
  margin-right:5px;
}

li.game-top{ border-bottom:1px solid #aaa; }

li.game-spacer{
  border-right:1px solid #aaa;
  min-height:40px;

  select {
    position: relative;
    right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

li.game-bottom{
  border-top:1px solid #aaa;
}
