#morning-matches{

  padding:10px;
  text-align: center;
  border:1px solid grey;
}


.match{
  height:30px;
  width:100%;
}

.winners{
  color:#76BE67;
  float:left;
  display: inline-block;
}

.loosers{
  color:#BE444B;
  float:left;
  display: inline-block;
}

.vs{
  float:left;
  margin-left:15px;
  margin-right:15px;
}

.score{
  float:right;
  font-size:16px;
  position: relative;
  left:-20%;
}

.score1{
  padding:5px;
}

.score2{
  padding: 5px;
}

.status{
   background: $mainColor;
   border-radius: 5px;
   padding:5px;
   color:white;
   font-weight: normal;
}

.small-icon{
  font-size:22px!important;
  vertical-align: -5px;
}

.phase-button{
  
  background: $mainColor;
    padding:10px;
    border:1px solid #27ae60;
    color:white;
    margin-right: 10px;

    display:inline-block;
    font-size:16px;
    transition: all 150ms;  vertical-align: 25px;

   &:hover{

    background:white;
    color:black;
  }

} 

.pagination li.active {
    background-color: #B3B3B3;
    color:white;
}

.delete-match{

  float:right;
  
}

.wishes {
  color : $text-color;
  background-color: $wishesColor;
}

.wishesClickable:hover {
  cursor: pointer;
}

