@import '../_vars.scss';


#staff-menu {

  li{
    // border:1px solid #2A5FBC;
    background: $mainColor;
    padding:10px;
    border:1px solid #27ae60;
    color:white;
    margin-right: 10px;
    width:15%;
    display:inline-block;
    font-size:16px;
    transition: all 150ms;
  }

  li:hover{

    background:white;
    color:black;
  }


}

#pair2-wrapper{
  display:none;
}