<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>ASMAE</title>
    <!-- bower:css -->
    <base href="/">
    <link rel="stylesheet" href="../../bower_components/materialize/bin/materialize.css" />
    <link rel="stylesheet" href="../../bower_components/elegant-icons/css/style.css" />
    <!-- endbower -->
    <link rel="stylesheet" type="text/css" href="/css/bundle.css">

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,700|Lato:400,300,700|Source+Sans+Pro:400,300,700' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="container">

    <nav>
        <div class="nav-wrapper">
                        <a href="/" class="menu-item"><img class='logo-img' src='/img/asmae.png'></a>

            <ul id="nav-mobile" class="right">
            {{#if admin}}
                <li><a class="menu-item" href="/admin">Section Admin</a></li>
            {{/if}}
            {{#if username}}
                <li><a class="menu-item" href="/staff/tournaments">Section Tournois</a></li>
                <li><a class="menu-item" href="/staff">Section Staff</a></li>
                <li><a class="menu-item" href="/logout">Logout</a></li>
            {{else}}
                <li><a class="menu-item" href="/login">Login</a></li>
                <li><a class="menu-item" href="/register">Inscrivez-vous</a></li>
                <li><a class="menu-item" href="/register-owner">Propriétaires de terrains</a></li>
            {{/if}}
            </ul>
        </div>
    </nav>

    <div id='main'>
        {{#if username}}
            {{#unless homepage}}
                <div id="staff-nav" class="row">
                    <div class="col s12" id="staff-menu">
                        <ul>
                            <a href="/staff"><li class="col s2 center-align">Joueurs</li></a>
                            <a href="/courts_list"><li class="col s2 center-align">Courts</li></a>
                            <a href="/staff/extras"><li class="col s2 center-align">Extras</li></a>
                            <a href="/staff/pair"><li class="col s2 center-align">Paires</li></a>
                            <a href="/staff/history"><li class="col s2 center-align">Historique</li></a>
                            <a href="/staff/tournaments/rain"><li class="col s2 center-align">Pluie</li></a>
                        </ul>
                    </div>
                </div>
            {{/unless}}
        {{/if}}
        {{{body}}}</div>
</div>




<script src="https://maps.googleapis.com/maps/api/js"></script>
{{!-- <script src="http://code.jquery.com/jquery-1.9.1.js"></script> --}}
<script type="text/javascript" src="/js/bundle.js"></script>
<!-- bower:js -->
<script src="../../bower_components/pickadate/lib/picker.js"></script>
<script src="../../bower_components/pickadate/lib/picker.date.js"></script>
<script src="../../bower_components/materialize/bin/materialize.js"></script>
<!-- endbower -->

</body>
</html>
