$background-color: brown;
$text-color: white;
$secondColor: #ffebee;
$punchyRed: #c62828;
$wishesColor: #FE9C41;

/* 
Main Color 
Color = emerald 
*/
$mainColor: #2ecc71;

/* 
Main Color Darker
Color = emerald 
*/
$mainColorDarker: #27ae60;
/* 
Second Color
Color = pumpkin
*/
$secondColor : #d35400;

