/*
  Application css modules
  */

@import 'modules/navbar';
@import '_vars.scss';
@import 'modules/staff';
@import 'modules/bracket';
@import 'modules/group';
@import 'modules/pairs';
@import 'modules/court';


/*
  Application css external libs
  */

html,
body {
    -webkit-font-smoothing: antialiased !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    background: url("http://image.noelshack.com/fichiers/2015/50/1449878819-halftone.png"); 
    // color: #D0831E;
    color:#42A5F5;

    font-family: "Lato", sans-serif;
     // letter-spacing: 0.1em;
}


h1{
  text-align: center;
}

a{color : $mainColor;}

.collapsible-body {
    padding: 0.5rem;
}

.classic-form{
  border:1px solid grey;
  background:#E2E7F1;
  padding:20px!important;

}


#needHelp {
    position: fixed;
    bottom:2%;
    right:2%;
}
#closeHelp {
    float: right;
}

.comment {
  color: #c0392b!important;  
}

#map {
    width: 100%;
    height: 300px;
}

#surfaceTypeCard {
    height:100px;
}

.typeSurfaceImg {
    height:80px;
    width:100px;
    position:absolute; 
    right:10px;
}

.clickable-row:hover {
    background-color: #DBE3EE;
    cursor: pointer;
}


 li {
     list-style: none;
 }


 [type="checkbox"].filled-in:checked + label:after {
     border: 2px solid white;
 }

 .menu-item:hover {

     color: $text-color;
 }

nav {
    background: $mainColor;
    box-shadow: none;
}

.card-title{
  color:grey!important;
}

a,
a:hover,
a:active,
a:visited {
    text-decoration: none;
}

.logo-img{
    height:75%;
    width:15%;
     position:relative;
    left:10px;
    vertical-align: middle;
}

.btn, .btn-large {
  text-decoration: none;
  color: #fff;
  background-color: $mainColor;
  text-align: center;
  letter-spacing: .5px;
  -webkit-transition: .2s ease-out;
  -moz-transition: .2s ease-out;
  -o-transition: .2s ease-out;
  -ms-transition: .2s ease-out;
  transition: .2s ease-out;
  cursor: pointer; 
}

.btn:hover, .btn-large:hover {
    background-color: #2bbbad; 
}

label{
  color:grey!important;
}

 .textColor {
     color: grey !important;
 }

 .secondColor {
     background-color: grey;
 }

 .card-title {
  // background: red;
  color:white!important;
 }

  .card-action{
    background:white;
    a{
      color:#A0A0A0!important;
      &:hover{
        color:black!important;
      }
    }
  }

.tabs .tab a{
  color : $mainColor;
}
.tabs .tab a:hover{
  color : $mainColorDarker;
}
.tabs .indicator{
  background-color: $mainColorDarker;
} 
