
{{#if msgStatus}}
        <div class="card-panel white-text  blue lighten-2 ">
            <i class="white-text small material-icons left">done</i>
            <h5 class="white-text ">{{msgStatus}}</h5>
        </div>
{{/if}}

<div class="row">
    <div class="col s6 push-s3">
        <div class="card center">
            <div class="card-image">
                <img src="/img/staff.jpg">
                <span class="card-title" style="color: white;"><h5 style="color: white;">Gestionnaires des tournois</h5></span>
            </div>
            <div class="card-content black-text">
                <p>Cette section permet à l'administrateur d'ajouter de nouveaux membres à l'équipe d'ASMAE. Ceux-ci sont responsables de la gestion globale des tournois de tennis organisés. Néanmoins l'administrateur reste le seul à avoir les permissions nécessaires afin d'ajouter ces nouveaux membres du pouvoir organisationnel.</p>
            </div>
            <div class="card-action">
                <a href="/admin/addStaff">
                    <div class="row">
                        <i class="medium material-icons">add_box</i>
                        <p>Ajouter un membre du staff</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

{{#if staffs}}

    <table class="bordered">
        <thead>
        <tr class="simpleBackground">
            <th data-field="fname">Nom</th>
            <th data-field="gsm">GSM</th>
            <th data-field="email">Email</th>
            <th data-field="edit">Modifier</th>
            <th data-field="delete">Supprimer</th>

        </tr>
        </thead>

        <tbody>
        {{#each staffs}}
            <tr class="backgroundReverse">
                <td>{{this.name}}</td>
                <td>{{this.phoneNumber}}</td>
                <td>{{this.mail}}</td>
                <th> <a href="/admin/edit/{{this._id}}">Modifier</a> </th>
                <th> <a href="/admin/delete/{{this._id}}">Supprimer</a> </th>

            </tr>
        {{/each}}


        </tbody>
    </table>
    <br>
    <br>

{{/if}}

<a id="needHelp" data-target="help" class="btn-floating btn-large waves-effect waves-light modal-trigger" href="#help"><i class="material-icons">?</i></a>
<div id="help" class="modal">
    <div class="modal-content">
        <h3>Aide</h3>
        <p>Bienvenue dans la section "Admin". Vous êtes le seul membre du staff à détenir ce statut. Vous avez donc tous les droits d'un membre du staff normal, en plus de l'accès à cette section.</p>

        <p>Dans cette section, vous pouvez gérer les membres du staff. Une liste des membres s'affiche dans le bas de la page. Remarquez que vous n'y apparaissez pas. Vous pouvez ajouter des membres en cliquant sur le "+" jaune. Vous pouvez mettre à jour ou supprimer un membre du staff en cliquant sur "Modifier" ou "Supprimer" respectivement.</p>
    </div>
</div>