    <h1> Ajouter un membre du staff </h1>

<form action="/admin/addStaff" method="post" class='classic-form'>

    <div id="owner-info" class="col s12">
        <div class="container" style="padding:15px;">
            <div class="row">
                <div class="input-field col s4">
                    <input name="username" id="username" type="text" class="validate" required>
                    <label for="username">Nom utilisateur*</label>
                </div>
                <div class="input-field col s4">
                    <input name="first_name" id="first_name" type="text" class="validate" required>
                    <label for="first_name">Prénom*</label>
                </div>
                <div class="input-field col s4">
                    <input name="last_name" id="last_name" type="text" class="validate" required>
                    <label for="last_name">Nom*</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s4">
                    <input name="gsm" id="gsm" type="tel" class="validate" required>
                    <label for="gsm">GSM*</label>
                </div>
                <div class="input-field col s4">
                    <input name="email" id="email" type="email" class="validate" required>
                    <label for="email">Adresse e-mail*</label>
                </div>
                <div class="input-field col s4">
                    <input name="password" id="password" type="password" class="validate" required>
                    <label for="password">Password</label>
                </div>
            </div>




            <br>
            <h4> Responsabilité d'un terrain </h4>
            <div class="row">
                <div class="input-field col s12">
                    <select name="terrain">
                        <option value="" disabled selected>Choisissez un terrain</option>
                        {{#each courts}}
                            <option value="{{this._id}}">{{this.courtAddress}}</option>

                        {{/each}}
                    </select>
                    <label>Choisissez un terrain</label>
                </div>      </div>
            <h4> Responsabilité des catégories </h4>
            <br>
            <div class="row">

                {{#each categories}}
                    <p>
                        <input type="checkbox" id="{{this.categoryId}}" name="categories[{{this.categoryId}}]" value="{{this.categoryName}}" />
                        <label for="{{this.categoryId}}">{{this.categoryName}}</label>
                    </p>
                {{/each}}

            </div>
            <div class="row">
                <button class="btn waves-effect waves-light" type="submit" name="action">Ajouter le staff
                    <i class="material-icons right">send</i>
                </button>
            </div>

        </div>
    </div>


</form>

<br>
<br>

<a id="needHelp" data-target="help" class="btn-floating btn-large waves-effect waves-light modal-trigger" href="#help"><i class="material-icons">?</i></a>
<div id="help" class="modal">
    <div class="modal-content">
        <h3>Aide</h3>
        <p>Bienvenue dans la section "Admin". Vous êtes le seul membre du staff à détenir ce statut. Vous avez donc tous les droits d'un membre du staff normal, en plus de l'accès à cette section.</p>

        <p>Cette page permet l'ajout d'un membre du staff. Les données nécessaires pour créer un membre sont le nom, le prénom, un numéro de téléphone, une adresse mail et un mot de passe. L'adresse mail sert de nom d'utilisateur (demandé lors de la connexion). Les champs de responsabilités ne sont pas nécessaires à la création du membre mais ils apportent de l'information. Le nom du responsable d'une catégorie pourra être ajouté sur la feuille de route des joueurs le jour du tournoi. Il faut évidemment cliquer sur le bouton "Ajouter le staff" pour valider l'ajout.</p>
    </div>
</div>