<h1> Détails du terrain </h1>
<div class="row">
    <div id="courtDetailsTitle" class="card">
        <div class="card-content">
            <div class="row">
                <div class="collection">
                    <div class="collection-item transparent">
                        <i class="material-icons prefix">my_location</i>
                        Adresse : {{court.courtAddress}}
                    </div>
                    <div id="map"></div>
                    <div class="collection-item transparent">
                        <i class="material-icons prefix">label</i>
                        Indications : {{court.specialInstructions}}
                    </div>
                    <div class="collection-item transparent">
                        <i class="material-icons prefix">label</i>
                        Type de propriétaire : {{court.typeOwner}}
                    </div>
                    <div id="surfaceTypeCard" class="collection-item transparent" >
                        <i class="material-icons prefix">label</i>
                        <span class="top">Type de terrain : {{court.courtSurface}}</span>
                        {{#if courtSurface.grass}}
                            <img class="typeSurfaceImg" src="/img/grass.jpg">
                        {{else if courtSurface.clay}}
                            <img class="typeSurfaceImg" src="/img/clay.jpg">
                        {{else if courtSurface.synthetic}}
                            <img class="typeSurfaceImg" src="/img/synthetic.jpg">
                        {{else if courtSurface.beton}}
                            <img class="typeSurfaceImg" src="/img/beton.jpg">
                        {{/if}}
                    </div>
                    <div class="collection-item transparent">
                        <i class="material-icons prefix">my_location</i>
                        Adresse propriétaire : {{ownerAddress.street}} {{ownerAddress.box}}, {{ownerAddress.zipCode}} {{ownerAddress.city}}
                    </div>
                    <div class="collection-item" id="editionsCourtDetail">
                        {{#each editions}}
                            <ul class="collapsible" data-collapsible="accordion">
                                <li>
                                    <div class="collapsible-header transparent flow-text">Année {{this.year}}
                                    </div>
                                    <div class="collapsible-body">
                                        <div class="collection">
                                            <div class="collection-item col s6 transparent">
                                                {{#if this.saturdayFree}}
                                                    <input type="checkbox" class="filled-in" id="filled-in-box-saturday" checked="checked" disabled="disabled"/>
                                                {{else}}
                                                    <input type="checkbox" class="filled-in" id="filled-in-box-saturday"  disabled="disabled"/>
                                                {{/if}}
                                                <label for="filled-in-box-saturday" class="textColor">Dispo Samedi</label>
                                            </div>
                                            <div class="collection-item col s6 transparent">
                                                {{#if this.sundayFree}}
                                                    <input type="checkbox" class="filled-in" id="filled-in-box-sunday" checked="checked" disabled="disabled"/>
                                                {{else}}
                                                    <input type="checkbox" class="filled-in" id="filled-in-box-sunday"  disabled="disabled"/>
                                                {{/if}}
                                                <label for="filled-in-box-sunday" class="textColor">Dispo Dimanche</label>
                                            </div>
                                            <div class="collection-item transparent">
                                                <i class="material-icons prefix">label</i>
                                                Etat du terrain : {{this.courtConditions}}
                                            </div>
                                            <ul class="collapsible" data-collapsible="accordion">
                                                <li>
                                                    <div class="collapsible-header transparent flow-text">Commentaires staff :
                                                    </div>
                                                    <div class="collapsible-body">
                                                        <div class="collection">
                                                            {{#each this.commentaries}}
                                                                <div class="collection-item transparent">
                                                                    <label class="fDate comment">{{this.createdAt}}</label>
                                                                    {{this.who}} : {{this.commentary}}
                                                                </div>
                                                            {{/each}}
                                                            {{!-- START Comments for each EDITIONS --}}
                                                            <div class="row">
                                                                <form class="col s12" method="Post" action="/court/{{../court._id}}/postComment">
                                                                    <div class="row">
                                                                        <div class="input-field col s12">
                                                                            <textarea name="textarea1" id="textarea1" class="materialize-textarea comment"></textarea>
                                                                            <label class="comment" for="textarea1">Ajouter un commentaire</label>
                                                                        </div>
                                                                    </div>
                                                                    <button class="btn waves-effect waves-light" type="submit" value="{{this._id}}" name="action">Envoyer
                                                                        <i class="material-icons right">send</i>
                                                                    </button>
                                                                </form>
                                                            </div>
                                                            {{!-- END Comments for each EDITIONS --}}
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        {{/each}}
                    </div> {{!-- <div class="collection-item transparent"> --}}
                </div> {{!-- <div class="collection"><div class="collection"> --}}
            </div>
        </div>
    </div>
    <input type="hidden" id="lat" value="{{court.latitude}}" />
    <input type="hidden" id="long" value="{{court.longitude}}" />
    <input type="hidden" id="addressString" value="{{court.courtAddress}}" />
</div>

<a id="needHelp" data-target="help" class="btn-floating btn-large waves-effect waves-light modal-trigger" href="#help"><i class="material-icons">?</i></a>
<div id="help" class="modal">
    <div class="modal-content">
        <h3>Aide</h3>
        <p>La section admin permet d'ajouter des membres du staff. La section Tournois permet de gérer les différents tournois. La section staff permet de gérer les joueurs, les courts, les extras, les paires et visionner les historiques. Le bouton logout vous déconnecte et vous ramène sur la page d'accueil.</p>

        <p>Vous trouvez sur cette page les informations précises concernant un court de tennis en particulier. En plus de ces informations, l'historique du terrain (c'est-à-dire les années où il a été prêté pour le tournoi et les informations liées) et les commentaires laissés par d'autres membres du staff les années précédentes sont visibles.</p>

        <p>Les années où le terrain a été prêté (ainsi que l'année courante) sont affichées en dessous de l'adresse du propriétaire. Il faut cliquer sur ces années pour afficher les informations conservées (les disponibilités et l'état du terrain, ainsi que les commentaires du staff.) Vous pouvez visualiser et/ou ajouter un commentaire à propos du terrain en cliquant sur la ligne "Commentaires staff". Il faut bien évidemment cliquer sur le bouton "Envoyer" pour sauvegarder votre commentaire tapé dans le champ "Ajouter un commentaire".</p>
    </div>
</div>