    


<h3 class="textColor"> Liste des courts </h3>
<div class="row">
    {{#if msgStatus}}
        
        <div class="card-panel white-text  blue lighten-2 ">
            <i class="white-text small material-icons left">done</i>
            <h5 class="white-text ">{{msgStatus}}</h5>
        </div>

    {{/if}}
    <div class="input-field col s5">
        <input id="court-search" name="court-search" type="text" class="validate textColor">
        <label for="court-search" class="textColor">Recherche d'un court:</label>
    </div>
</div>
{{#if courts}}
    <table class="bordered simpleBackground">
        <thead>
        <tr>
            <th data-field="cAddress">Adresse du court</th>
            <th data-field="cSurface">Surface du court</th>
            <th data-field="cOwner">Propriétaire du court</th>
            <th data-field="cEdit">Modifier</th>
        </tr>
        </thead>

        <tbody>
        {{#each courts}}
            <tr class="clickable-row" style='cursor:pointer' data-href={{this._id}} >
                <td>{{this.courtAddress}}</td>
                <td>{{this.courtSurface}}</td>
                <td>{{this.typeOwner}}</td>
                <th><a href="court/edit/{{this._id}}"> Modifier </a></th>
            </tr>
        {{/each}}


        </tbody>
    </table>
{{else}}

    Il n'y a actuellement aucun terrains enregistrés dans le système.

{{/if}}
<a id="needHelp" data-target="help" class="btn-floating btn-large waves-effect waves-light modal-trigger" href="#help"><i class="material-icons">?</i></a>
<div id="help" class="modal">
    <div class="modal-content">
        <h3>Aide</h3>
        <p>Cette page présente la liste de tous les courts contenus dans la base de données.
            Vous pouvez effectuer une recherche sur les champs l'adresse, la surface et le type de propriété en entrant simplement la suite de lettres que vous recherchez. La liste se met automatiquement à jour. Videz ce champ de recherche pour obtenir la liste complète des courts.</p>

        <p>Vous pouvez accéder aux données complètes d'un court en cliquant dessus. Le bouton "Modifier" est utile pour mettre à jour les données d'un court.</p>
    </div>
</div>