<h3 class="textColor"> Créer un nouveau groupe </h3>
<div class="row">
    <div style="padding-left: 2%; padding-right: 2%;">
        <h4 class="textColor col s5"> Liste des paires</h4>
        <h4 class="textColor col s5 push-s1"> Paires inscrites</h4>
    </div>
</div>
<div class="row">
    <div id='playersList' class="col s5">
        <h4>Aucune paire disponible</h4>
    </div>
    <div class="col s5 push-s1">
        <table class="bordered simpleBackground">
            <thead>
            <tr>
                <th data-field="playersName">Noms des joueurs</th>
            </tr>
            </thead>

            <tbody id="participatingPairs">
            </tbody>
        </table>
    </div>
</div>
<div class="row simpleBackground">
    <div style="padding-left: 2%; padding-right: 2%;">
        <h4 class="textColor col s5"> Liste des terrains</h4>
        <h4 class="textColor col s5 push-s1"> Options</h4>
    </div>
</div>
<div class="row">
    <div id='courtsList' class="col s5">
        <h4>Aucun terrain disponible</h4>
    </div>
    <div class="col s5 push-s1 simpleBackground">
        <table class="bordered ">
            <thead>
            <tr>
                <th data-field="cAddress">Terrain choisi</th>
            </tr>
            </thead>
            <tbody id="selectedCourt">
            </tbody>
        </table>
        <h5 class="textColor" >Choissisez un chef d'équipe</h5>
        <select id="tLeader">
            <option value="" disabled selected>Choissisez le chef d'équipe</option>
        </select>
        <div class="input-field">
            <select id="nbWiningPairs">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
            <label class="textColor" >Choissisez le nombre de paires sortantes</label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col push-s4">
        <a id="reset" class="waves-effect waves-light btn-large disabled">Reset<i class="material-icons right">delete</i></a>
        <a id="confirm" class="waves-effect waves-light btn-large disabled">Confirmer<i class="material-icons right">send</i></a>
    </div>
</div>
<input id="tournamentId" type="hidden" value={{tournamentId}} />
<div id="modalsZone">
</div>

<a id="needHelp" data-target="help" class="btn-floating btn-large waves-effect waves-light modal-trigger" href="#help"><i class="material-icons">?</i></a>
<div id="help" class="modal">
    <div class="modal-content">
        <h3>Aide</h3>
        <p>La section admin permet d'ajouter des membres du staff. La section Tournois permet de gérer les différents tournois. La section staff permet de gérer les joueurs, les courts, les extras, les paires et visionner les historiques. Le bouton logout vous déconnecte et vous ramène sur la page d'accueil.</p>
    </div>
</div>