
<h3> Tournoi {{tournament.category}} {{isTournoiDesFamillesEdit tournament}} </h3>
<b> Le tournoi est actuellement en phase: <span class='status'>{{tournament.status}}</span></b>
<br><br>

<a href="/staff/tournaments/edit/{{tournament._id}}/group/view" title="printable"><i class="medium material-icons"></i></a>
<a href="/staff/tournaments/edit/{{tournament._id}}/change/conception"><button class='phase-button'>Phase Conception <i class="material-icons small-icon">forward</i></button></a>
<a href="/staff/tournaments/edit/{{tournament._id}}/change/poule"><button class='phase-button'>Phase Poule <i class="material-icons small-icon">forward</i></button></a>
<a href="/staff/tournaments/edit/{{tournament._id}}/elimination" title="passer à la phase éliminative"><button class='phase-button'>Phase Elimination <i class="material-icons small-icon">forward</i></button></a>


<br>



<p> Il y a actuellement {{tournament.groups.length}} groupes dans ce tournoi </p>
<a href="/staff/tournaments/edit/{{tournament._id}}/group/new" title="ajouter un groupe"><i class="medium material-icons">add_box</i></a>

{{#if msgError}}
    <div class="card-panel white-text red lighten-1">{{msgError}}</div>
{{/if}}

{{#if msgStatus}}
    
        <div class="card-panel white-text  blue lighten-2 ">
            <i class="white-text small material-icons left">done</i>
            <h5 class="white-text ">{{msgStatus}}</h5>
        </div>

{{/if}}


{{#each tournament.groups}}
    <div class="row">
        <div class="col s6 m6">
            <div class="card blue lighten-2  ">
                <div class="card-content white-text">
                    <span class="card-title">Groupe {{groupIndex @index}}</span>
                    <p>Il y a actuellement {{this.pairs.length}} paires dans ce groupe</p>
                </div>
                <div class="card-action">
                    <a href="/staff/tournaments/edit/{{../tournament._id}}/group/edit/{{this._id}}">
                        Modifier le groupe</a>
                </div>
                <div class="card-action">
                    <a href="/staff/tournaments/edit/{{../tournament._id}}/group/delete/{{this._id}}">
                        Supprimer le groupe</a>
                </div>
                <div class="card-action">
                    <a href="/staff/tournaments/edit/{{../tournament._id}}/group/view/{{this._id}}" title="printable">Voir la fiche recapitulative</a>
                </div>
                <div class="card-action">
                    <a href="/staff/tournaments/edit/{{../tournament._id}}/group/encode/{{this._id}}">Encoder un résultat</a>
                </div>
            </div>
        </div>
    </div>


{{/each}}

<a id="needHelp" data-target="help" class="btn-floating btn-large waves-effect waves-light modal-trigger" href="#help"><i class="material-icons">?</i></a>
<div id="help" class="modal">
    <div class="modal-content">
        <h3>Aide</h3>
        <p>La section admin permet d'ajouter des membres du staff. La section Tournois permet de gérer les différents tournois. La section staff permet de gérer les joueurs, les courts, les extras, les paires et visionner les historiques. Le bouton logout vous déconnecte et vous ramène sur la page d'accueil.</p>

        <p>Les détails du tournoi sélectionné sont affichés ici. Le tournoi suit un cycle de trois phases. Il doit d'abord être conçu, c'est-à-dire qu'il faut lui assigner un groupe de paires de joueurs. Il est ensuite en phase de poule quand la conception est terminée et que le tournoi peut commencer ou est en cours. La phase élimination récapitule les résultats du tournoi et mène au tournoi de knock-off de l'après-midi.</p>

        <p>Lors de la phase de conception, il faut attribuer des groupes au tournoi. Pour cela, il faut créer un nouveau groupe grâce au bouton "+". Vous êtes responsable du niveau des joueurs que vous choisissez comme adversaires. Si un groupe existe déjà, il peut être mis à jour en cliquant sur le lien "Modifier le groupe". Cette fonctionnalité sera désactivée quand le tournoi change de phase. Il faut cliquer sur le bouton "Phase poule" pour passer à la phase suivante. </p>

        <p>La Phase de poule signifie que le tournoi est en cours. On ne peut donc plus modifier ou ajouter de groupe. C'est pendant cette phase que les résultats sont encodés dans le système grâce au lien "Encoder un résultat". Lorsque tous les résultats sont encodés, la phase élimination peut commencer.</p>

        <p>La phase elimination mène sur une autre page.</p>

        <p>Pour chaque groupe, une fiche récapitulative peut être affichée, téléchargée et imprimée grâce au bouton "Voir la fiche récapitulative". Elle contient le nom des joueurs du groupe, l'organisation du tournoi (quelle paire contre quelle autre), le terrain assigné ainsi qu'un membre du staff comme contact et un rappel des règles du tournoi.</p>

        <p>Le bouton "Encoder un résultat" pour un groupe vous permet de visualiser tous les résultats qui ont déjà été encodés mais aussi d'en encoder un nouveau.</p>
    </div>
</div>