<br>

{{#if msgStatus}}


<div class="card-panel white-text  blue lighten-2 ">
    <i class="white-text small material-icons left">done</i>
    <h5 class="white-text ">{{msgStatus}}</h5>
</div>


{{/if}}


<div class="row ">
    <form action="/admin/edit/{{staff._id}}" method="post" class="col s12 classic-form">
        <div class="row">
            <div class="input-field col s3">
                <input required name="name" id="name" type="text" class="validate" value="{{staff.name}}">
                <label for="name" class="active">Nom</label>
            </div>
        </div>
        <div class="input-field col s3">
            <input required name="gsm" id="gsm" type="tel" class="validate" value="{{staff.phoneNumber}}">
            <label for="gsm" class="active">GSM*</label>
        </div>

        <div class="input-field col s4">
            <input required name="email" id="email1" type="email" class="validate" value="{{staff.mail}}">
            <label for="email1" class="active">Email*</label>
        </div>

    </div>

    <button  style="margin-right:10px" class="btn original-color lighten-1 waves-effect waves-light col s2" type="submit" name="action">
        Editer
    </button>
</form>
</div>

<a id="needHelp" data-target="help" class="btn-floating btn-large waves-effect waves-light modal-trigger" href="#help"><i class="material-icons">?</i></a>
<div id="help" class="modal">
    <div class="modal-content">
        <h3>Aide</h3>
        <p>Bienvenue dans la section "Admin". Vous êtes le seul membre du staff à détenir ce statut. Vous avez donc tous les droits d'un membre du staff normal, en plus de l'accès à cette section.</p>

        <p>Vous pouvez mettre à jour le nom complet, le numéro de téléphone et l'adresse mail du membre choisi. Il faut bien sur cliquer sur le bouton "Editer" après modification des valeurs pour valider.</p>
    </div>
</div>