{{#with msgError}}
    <div class="row">
        <div class="col s12">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Vous avez mal encodé votre Knock-Off</span>
                    <p>
                        {{this}}
                    </p>
                </div>
            </div>
        </div>
    </div>
{{/with}}

<form action="staff/tournaments/edit/{{tournamentId}}/elimination" method="post">
{{#each groupPairs}}
        <ul class="collection with-header">
            <li class="collection-header">Groupe #{{@index}}</li>
            {{#each this}}
                <li class="collection-item avatar">
                    <i class="material-icons circle">perm_identity</i>
                    <span class="title">{{this.pair.players.0.firstName}} {{this.pair.players.0.lastName}} - {{this.pair.players.1.firstName}} {{this.pair.players.1.lastName}}</span>
                    <p>
                        Matchs Gagnés : {{this.wons}} <br />
                        Points Gagnés : {{this.pointsWon}} Points Perdus : {{this.pointsLost}}
                    </p>
                    {{#if ../../isAssignemnt}}
                        <div class="input-field secondary-content">
                            <input id="{{this.pair._id}}" name="{{this.pair._id}}" type="number" {{#if this.generatorId}}value="{{this.generatorId}}"{{/if}}/>
                            <label for="{{this.pair._id}}"># Assigné</label>
                        </div>
                    {{/if}}
                </li>
            {{/each}}
        </ul>
{{/each}}
{{#if isAssignemnt}}
    {{{bracket}}}
        <br>
        <div class="row">
            <div class="col s5 push-s6">
                <button type="submit" class="waves-effect waves-light btn">
                    Valider le bracket éliminatoire <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </form>
{{/if}}
{{#if isElim}}
    <br>
    <div class="input-field">
        <input id="nbOfPairs" name="nbOfPairs" type="number" value="{{nbOfPairs}}" max="{{nbOfPairs}}" min="2"/>
        <label for="nbOfPairs">Nombre de paires entrantes</label>
    </div>
    <br>
    <div class="row">
        <div class="col s5 push-s6">
            <button type="submit" class="waves-effect waves-light btn">
                Valider le nombre de paires entrantes <i class="material-icons right">send</i>
            </button>
        </div>
    </div>
    </form>
{{/if}}

<a id="needHelp" data-target="help" class="btn-floating btn-large waves-effect waves-light modal-trigger" href="#help"><i class="material-icons">?</i></a>
<div id="help" class="modal">
    <div class="modal-content">
        <h3>Aide</h3>
        <p>La section admin permet d'ajouter des membres du staff. La section Tournois permet de gérer les différents tournois. La section staff permet de gérer les joueurs, les courts, les extras, les paires et visionner les historiques. Le bouton logout vous déconnecte et vous ramène sur la page d'accueil.</p>

        <p>Bienvenue dans la section de création du tournoi de type knock-off.</p>

        <p>Seules les meilleures paires du tournoi de la matinée sont repris dans le tableau récapitulatif. Pour chacune d'entre elle, le nombre de matchs gagnés est affiché ainsi que le nombre total de points obtenus et le nombre total de points perdus. Il y a autant de paires affichées que le nombre de paires sortantes que vous avez choisit pour ce groupe lors de sa création.</p>

        <p>Vous pouvez choisir le nombre de ces paires qui va participer au knock-off tournament. Ce nombre peut varier en fonction de la météo par exemple. Vous devez valider ce nombre en cliquant sur le bouton "Valider".
    </div>
</div>