<h1> Encoder un résultat </h1>

{{#if matches}}
<div id="morning-matches">
    {{{allmatches tournamentId groupId matches}}}
</div>

{{/if}}
<br>

{{#if msgError}}
<div class="card-panel white-text red lighten-1 center">{{msgError}}</div>
{{/if}}




<form class="col s12" id="form-encode-result" action="/staff/tournaments/edit/{{tournamentId}}/group/encode/{{groupId}}/" method="post">
    <input type="hidden" id="tournamentId" value="{{tournamentId}}">
    <input type="hidden" id="groupId" value="{{groupId}}">

    <div class="row">
        <div class="input-field col s6 ">
            <select id="pair1" name="pair1">
                <option value="" disabled selected>Choissisez une paire </option>
                {{#each pairs}}
                    <option value="{{this.id}}">{{this.name}}</option>
                {{/each}}
            </select>
            <label for="pair1">Selectionnez une paire</label>
        </div>
        <div class="input-field col s2 ">
            <input name="pair1_score" id="pair1_scores"  type="number" class="validate" required>
            <label id="pair1_label" for="pair1_scores">Score</label>
        </div>
    </div>
    <div class="row" id="pair2-wrapper">
        <div class="input-field col s6 ">
            <select id="pair2" name="pair2">
            </select>
            <label for="pair2">Selectionnez une autre paire</label>
        </div>
        <div class="input-field col s2">
            <input name="pair2_score" id="pair2_score" type="number" class="validate" required >
            <label id="pair2_label" for="pair2_score">Score</label>
        </div>
    </div>

    <p style='color:red' id='error-msg'></p>
    <button class="btn waves-effect waves-light" type="submit" name="action">Ajouter le résultat
        <i class="material-icons right">send</i>
    </button>
</form>

<a id="needHelp" data-target="help" class="btn-floating btn-large waves-effect waves-light modal-trigger" href="#help"><i class="material-icons">?</i></a>
<div id="help" class="modal">
    <div class="modal-content">
        <h3>Aide</h3>
        <p>La section admin permet d'ajouter des membres du staff. La section Tournois permet de gérer les différents tournois. La section staff permet de gérer les joueurs, les courts, les extras, les paires et visionner les historiques. Le bouton logout vous déconnecte et vous ramène sur la page d'accueil.</p>

        <p>Vous pouvez entrer ici les résultats des différents matchs du tournoi. Pour celà, choisissez une paire parmi toutes celles proposées sous le titre "Sélectionnez une paire". la liste de toutes les paires contre lesquelles la première paire doit se battre s'affiche alors sous le titre "Sélectionnez une autre paire". Pour chaque paire, entrez le nombre de points qu'ils ont marqué pendant le match.</p>

        <p>La liste des résultats déjà encodés s'affiche automatiquement au dessus. La paire gagnante s'affiche en vert tandis que la paire perdante s'affiche en rouge. Si vous vous êtes trompé, vous devez supprimer le résultat précédemment encodé pour le match, puis resélectionner les deux paires et entrer les scores correspondants.</p>

        <p>Une fois cela fait, un tableau d'élimination s'affiche. Vous devez déterminer quelle équipe va se trouver où sur le tableau en lui assignant le numéro de l'emplacement sur le tableau dans le champ "#assigné". Pour chaque match, un terrain doit être choisit grâce à la liste déroulante. IL faut valider le tout pour passer définitivement au tournoi de type knock-off.</p>
    </div>
</div>