<h3 class="textColor"> Liste des modifications </h3>

<table class="bordered striped">
    <thead>
    <tr class="simpleBackground">
        <th data-field="author">Auteur</th>
        <th data-field="date">Date</th>
        <th data-field="type">Type</th>
        <th data-field="field">Champ</th>
        <th data-field="adress">Valeur précédente</th>
    </tr>
    </thead>

    <tbody>
    {{#each history}}
        <tr class="backgroundReverse">
            <td>{{this.author}}</td>
            <td>{{commentFormat this.date}}</td>
            <td>{{this.updatedCollection}}</td>
            <td>{{this.updatedField}}</td>
            <td>{{this.oldValue}}</td>
        </tr>
    {{/each}}


    </tbody>
</table>

<a id="needHelp" data-target="help" class="btn-floating btn-large waves-effect waves-light modal-trigger" href="#help"><i class="material-icons">?</i></a>
<div id="help" class="modal">
    <div class="modal-content">
        <h3>Aide</h3>
        <p>La section admin permet d'ajouter des membres du staff. La section Tournois permet de gérer les différents tournois. La section staff permet de gérer les joueurs, les courts, les extras, les paires et visionner les historiques. Le bouton logout vous déconnecte et vous ramène sur la page d'accueil.</p>

        <p>Vous vous trouvez sur la page des historiques. Ici, toutes les modifications effectuées sur les données de la bases de données sont affichées.</p>
    </div>
</div>