<div id="app">

    <div class="section white">
        <div class="container">
            <h1 class="header">ASMAE</h1>
            <p class="grey-text text-darken-3 lighten-3">Asmae est une association qui depuis 1981, accompagne des jeunes en termes de citoyenneté, de coopération et d'éducation aux développements. Elle renforce ainsi la solidarité entre les jeunes de Belgique, d'Egypte, du Maroc, du Sénégal et du Togo.</p>
        </div>
    </div>

    <div class="parallax-container" style="z-index:10">
        <div class="parallax"><img src="/img/tennis_ball_cropped.jpg"></div>
    </div>

    <div class="section white">
        <div class="container">
            <div class="row">
                <i class="large material-icons col s2" style="color: #339933;">language</i>
                <div class="col s10">
                    <h3>Notre statut</h3>
                    <p class="grey-text text-darken-3 lighten-3">Asmae est une association sans but lucratif. Elle se veut indépendante, autonome, apolitique et non confessionnelle. Depuis 2011, Asmae est reconnue en qualité de service de jeunesse auprès de la Fédération Wallonie Bruxelles.</p>
                </div>
            </div>

        </div>
    </div>

    <div class="parallax-container">
        <div class="parallax"><img src="/img/tennis_ball_grass.jpg"></div>
    </div>

    <div class="section white">
        <div class="container">
            <div class="row">
                <div class="col s10">
                    <h3>Notre mission</h3>
                    <p class="grey-text text-darken-3 lighten-3">Asmae se donne pour mission de renforcer les capacités des jeunes à être des citoyens responsables actifs critiques et solidaires au travers de trois lignes d’action : éducation aux développements, expérience du partenariat en réseau et éducation par l’action.</p>
                </div>
                <i class="large material-icons col s2" style="color: #339933;">perm_identity</i>
            </div>

        </div>
    </div>

    <div class="parallax-container">
        <div class="parallax"><img src="/img/tennis_ball_wood.jpg"></div>
    </div>
</div>

<a id="needHelp" data-target="help" class="btn-floating btn-large waves-effect waves-light modal-trigger" href="#help"><i class="material-icons">?</i></a>
<div id="help" class="modal">
    <div class="modal-content">
        <h3>Aide</h3>
        <p>Bienvenue sur le site du tournoi Le Charles de Lorraine. Ce bouton se trouvera sur chaque page du site et vous indiquera que faire sur chaque page.</p>

        <p>Si vous souhaitez vous inscrire au tournoi en tant que joueur, cliquez sur le bouton "Inscrivez-vous". Si vous souhaitez prêter un court de tennis à l'association, cliquez sur le bouton "Propriétaires de terrain". Si vous êtes un membre du staff ou l'administrateur, connectez-vous via le bouton "Login".</p>

        <p>Sur cette page, vous pouvez lire la description de l'association ASMAE, qui organise le tournoi chaque année.</p>
    </div>
</div>