<br>

<div class="row">
    <form class="col s12" action="/login" method="post">
        <div class="row">
            <div class="card col s5 push-s3 ">
                <div class="card-content">
                    <div class="input-field col s10 push-s1">
                        <input id="username" name="username" type="text" class="validate">
                        <label for="username">Nom d'utilisateur:</label>
                    </div>
                    <br>
                    <div class="input-field col s10 push-s1">
                        <input id="password" name="password" type="password" class="validate">
                        <label for="password">Password:</label>
                    </div>
                    <br>
                    <div class="col s4 push-s4">
                        <button id="loginButton" class="btn waves-effect waves-light secondColor" style="margin-bottom:15px" type="submit" name="action">Login
                            <i class="material-icons right"></i>
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="center-align blue " style="color:white">
Note: username is "admin", password is "password"
</div>
<div class="row">
    {{#if message}}
        <div class="card-panel white-text red lighten-1 center">{{message}}</div>
    {{/if}}
</div>

<a id="needHelp" data-target="help" class="btn-floating btn-large waves-effect waves-light modal-trigger" href="#help"><i class="material-icons">?</i></a>
<div id="help" class="modal">
    <div class="modal-content">
        <h3>Aide</h3>
        <p>Vous devez posséder des identifiants de membre du staff pour vous connecter.</p>
    </div>
</div>