
{{#if msgStatus}}

    <div class="card-panel white-text  blue lighten-2 ">
        <i class="white-text small material-icons left">done</i>
        <h5 class="white-text ">{{msgStatus}}</h5>
    </div>

{{/if}}

<div class="card-panel blue darken-2 white-text">
    <h4>
        Gestion du déroulement par temps de pluie
    </h4>
    <p>
        Cette section permet à l'utilisateur de gérer la manière dont les tournois seront réarrangés lorsque les conditions climatiques ne permettent pas de jouer en extérieur. La logique est la suivante : <br>
        Les groupes doivent être fusionnés afin d'être en nombre plus restreint. Une fois cette opération effectuée, les nouveaux groupes doivent être répartis sur des terrains couverts afin de poursuivre le tournoi.
    </p>
</div>

{{#each tournaments}}

    {{#ifCond this.groups.length '>' 1}}
        <div class="card-panel blue-grey lighten-4">
            <div>
                <h4>
                    Tournoi {{this.category}} {{this.type}} du {{translateDay this.day}}
                </h4>
            </div>

            <form class="col s12" action="/staff/tournaments/manage_rainmode/{{this._id}}" method="post">

                <div class="row">
                    <div class="input-field col s6 ">
                        <select id="groupA" name="groupA">
                            <option value="" disabled selected>Choissisez un groupe </option>
                            {{#each this.groups}}
                                <option value="{{this._id}}">Groupe de {{this.leader.firstName}} {{this.leader.lastName}}</option>
                            {{/each}}
                        </select>
                        <label for="groupA">Selectionnez un groupe</label>
                    </div>

                    <div class="input-field col s6 ">
                        <select id="groupB" name="groupB">
                            <option value="" disabled selected>Choissisez un second groupe </option>
                            {{#each this.groups}}
                                <option value="{{this._id}}">Groupe de {{this.leader.firstName}} {{this.leader.lastName}}</option>
                            {{/each}}
                        </select>
                        <label for="groupB">Selectionnez un second groupe</label>
                    </div>
                </div>

                <button class="btn waves-effect waves-light" type="submit" name="action">Unir les groupes
                    <i class="material-icons right">send</i>
                </button>

            </form>
        </div>
    
    {{/ifCond}}
        
    

{{/each}}

<div class="card-panel blue darken-2 white-text center">
    <h4>Valider la recomposition des groupes</h4>

    <a class="white-text col s2 btn original-color lighten-1 waves-effect waves-light" href="/staff/tournaments/manage_rainmode/reassign" >
        Valider
    </a>
</div>
