

{{#if msgError}}
    <div>
        <p>Les champs suivants sont incomplets:</p>

        {{#each msgError}}
            <div class="chip orange white-text">
                {{this}}
            </div>
        {{/each}}
    </div>

{{else}}
    {{#if msgStatus}}

        <div class="card-panel white-text  blue lighten-2 ">
            <i class="white-text small material-icons left">done</i>
            <h5 class="white-text ">{{msgStatus}}</h5>
        </div>

    {{/if}}
{{/if}}

<h1> Modifier un joueur</h1>
<div class="row">
    <form action="/staff/edit/{{player._id}}" method="post" class="col s12 classic-form">
        <div class="row">
            <div class="input-field col s5">
                <input required name="firstname" id="firstname" type="text" class="validate" value="{{player.firstName}}">
                <label for="firstname" class="active">Prénom*</label>
            </div>
            <div class="input-field col s5">
                <input required  name="lastname" id="lastname" type="text" class="validate" value="{{player.lastName}}">
                <label for="lastname" class="active">Nom*</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <input required name="street" id="street" type="text" class="validate" value="{{player.street}}">
                <label for="street" class="active">Adresse*</label>
            </div>
            <div class="input-field col s1">
                <input  required name="streetNumber" id="streetNumber" type="number" class="validate" value="{{player.streetNumber}}">
                <label for="streetNumber" class="active">Numéro*</label>
            </div>
            <div class="input-field col s1">
                <input name="box" id="box" type="number" value="{{player.box}}">
                <label for="box" class="active">Boite</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s2">
                <input required name="zipCode" id="zipCode" type="number" class="validate" value="{{player.zipCode}}">
                <label for="zipCode" class="active">Code Postal*</label>
            </div>
            <div class="input-field col s2">
                <input required name="city" id="city" type="text" class="validate" value="{{player.city}}">
                <label for="city" class="active">Ville*</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <input required name="gsm" id="gsm" type="tel" class="validate" value="{{player.gsm}}">
                <label for="gsm" class="active">GSM*</label>
            </div>
            <div class="col s4">
                <label for="birthdate" class="active">Date de naissance*</label>
                <input type="hidden" id="bdate" value="{{player.birthdate}}">
                <input required name="birthdate" id="birthdate" type="date" class="datepicker" value="{{dateFormat player.birthDate}}">
            </div>
        </div>
        <div class="row">
            <div class="input-field col s4">
                <input required name="email" id="email1" type="email" class="validate" value="{{player.email}}">
                <label for="email1" class="active">Email*</label>
            </div>
            <div class="input-field col s2">
                <select required name="aftRanking" id="aftRanking">
                    <option value="{{player.aftRanking}}">{{player.aftRanking}}</option>
                    {{#each rankings}}
                        <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
                <label for="aftRanking" class="active">Classement*</label>
            </div>
        </div>
        <div class="row">

            {{#each player.comments}}
                Commentaire du {{commentFormat this.date}}<br>
                <div class='col s6' style='border:1px solid grey; padding:5px; margin-top:5px;'>
                    {{this.comment}}
                </div>
            {{/each}}
        </div>

        <button  style="margin-right:10px" class="btn original-color lighten-1 waves-effect waves-light col s2" type="submit" name="action">
            Editer
        </button>


        <a class="white-text col s2 btn original-color lighten-1 waves-effect waves-light" href="/staff/del/{{player._id}}" >
            Supprimer
        </a>
    </form>
</div>

{{#if history}}

    <h4 class="textColor"> Liste des modifications récentes</h4>

    <table class="bordered striped">
        <thead>
        <tr class="simpleBackground">
            <th data-field="author">Auteur</th>
            <th data-field="date">Date</th>
            <th data-field="type">Type</th>
            <th data-field="field">Champ</th>
            <th data-field="adress">Valeur précédente</th>
        </tr>
        </thead>

        <tbody>
        {{#each history}}
            <tr class="backgroundReverse">
                <td>{{this.author}}</td>
                <td>
                    {{commentFormat this.date}}
                </td>
                <td>{{this.updatedCollection}}</td>
                <td>{{this.updatedField}}</td>
                <td>{{this.oldValue}}</td>
            </tr>
        {{/each}}


        </tbody>
    </table>

{{/if}}

<a id="needHelp" data-target="help" class="btn-floating btn-large waves-effect waves-light modal-trigger" href="#help"><i class="material-icons">?</i></a>
<div id="help" class="modal">
    <div class="modal-content">
        <h3>Aide</h3>
        <p>La section admin permet d'ajouter des membres du staff.
            La section Tournois permet de gérer les différents tournois.
            La section staff permet de gérer les joueurs, les courts, les extras, les paires et visionner les historiques.
            Le bouton logout vous déconnecte et vous ramène sur la page d'accueil.</p>

        <p>Cette page vous donne accès aux données personnelles d'un joueur et vous permet de les mettre à jour en modifiant simplement la valeur du champ à mettre à jour avant de cliquer sur le bouton "Editer" (Si vous ne cliquez pas, rien ne changera). Pour supprimer ce joueur de la base de données, il vous suffit de cliquer sur le bouton "Supprimer"</p>
    </div>
</div>