{{#if msgStatus}}
        <div class="card-panel white-text  blue lighten-2 ">
            <i class="white-text small material-icons left">done</i>
            <h5 class="white-text ">{{msgStatus}}</h5>
        </div>
{{/if}}


<div class="row">
    {{#if msgError}}
        <div class="card-panel white-text red lighten-1 center">{{msgError}}</div>
    {{/if}}
</div>


<div class="row">
    <div class="col s6 push-s3">
        <div class="card center">
            <div class="card-image">
                <img src="/img/tournament.jpg">
                <span class="card-title" style="color: white;"><h5 style="color: white;">Tournois ASMAE</h5></span>
            </div>
            <div class="card-content black-text">
                <p>Cette section permet à l'administrateur de créer et de mettre à jour les tournois d'ASMAE. Il est également possible de supprimer un tournoi. Tous les éléments créés à l'aide de cette rubrique sont repris ci-dessous.</p>
            </div>
            <div class="card-action">
                <a href="/staff/tournaments/new">
                    <div class="row">
                        <i class="medium material-icons">add_box</i>
                        <p>Ajouter un tournoi</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="row">

    <div class="col s6">
        <h4>Tournois du Samedi : </h4>
        <ul class="collection white-text">
            {{#each tournaments.Saturday}}
                <li class="collection-item avatar blue lighten-1">
                    <img src="/img/trophy.jpg" alt="" class="circle">
                    <span class="title">Tournoi {{this.category}}</span>
                    {{{isTournoiDesFamillesManage this}}}



          <span class="secondary-content">
            <a href="/staff/tournaments/edit/{{this._id}}"><i class="medium white-text material-icons">settings</i></a>
            <a href="/staff/tournaments/del/{{this._id}}"><i class="medium white-text material-icons">delete</i></a>
          </span>
                </li>
            {{/each}}
        </ul>
    </div>

    <div class="col s6">
        <h4>Tournois du Dimanche : </h4>
        <ul class="collection white-text">
            {{#each tournaments.Sunday}}
                <li class="collection-item avatar blue lighten-1">
                    <img src="/img/trophy.jpg" alt="" class="circle">
                    <span class="title">Tournoi {{this.category}}</span>
                    <p>Mixité : {{this.type}}
                    </p>
                    <p> Age: {{this.ageMin}} - {{this.ageMax}}
          <span class="secondary-content">
            <a href="/staff/tournaments/edit/{{this._id}}"><i class="medium white-text material-icons">settings</i></a>
            <a href="/staff/tournaments/del/{{this._id}}"><i class="medium white-text material-icons">delete</i></a>
          </span>
                </li>
            {{/each}}
        </ul>
    </div>

</div>

<a id="needHelp" data-target="help" class="btn-floating btn-large waves-effect waves-light modal-trigger" href="#help"><i class="material-icons">?</i></a>
<div id="help" class="modal">
    <div class="modal-content">
        <h3>Aide</h3>
        <p>La section admin permet d'ajouter des membres du staff. La section Tournois permet de gérer les différents tournois. La section staff permet de gérer les joueurs, les courts, les extras, les paires et visionner les historiques. Le bouton logout vous déconnecte et vous ramène sur la page d'accueil.</p>

        <p>Cette page récapitule les tournois existant en deux colonnes, une pour chaque jour, en bas de la page et vous permet de les gérer. Pour supprimer un tournoi, cliquez sur l'icone de poubelle qui lui correspond. Pour le modifier, cliquez sur la roue. Pour ajouter un nouveau tournoi, cliquez sur le bouton "+" jaune.</p>
    </div>
</div>