{{#if msgStatus}}

<div class="card-panel white-text  blue lighten-2 ">
    <i class="white-text small material-icons left">done</i>
    <h5 class="white-text ">{{msgStatus}}</h5>
</div>

{{/if}}

{{#if msgError}}
<div class="card-panel white-text red lighten-1 center">{{msgError}}</div>
{{/if}}


<div class="card-panel blue lighten-1 white-text z-depth-2" style="border-radius: 10px;">
    <h4>
        Liste des suppléments disponibles :
    </h4>

    <div class="row">
        {{#each extras}}
        <!-- <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a> -->

        <div class="col s6">
            <div class="card-panel">
                <span class="blue-text">
                    <h5>{{this.extraTitle}}</h5>
                    <span>Dont le prix indiqué est de <h6>{{this.price}} €</h6></span>
                </span>

                <a class="btn-floating btn-large blue darken-1 modal-trigger" href="#{{this._id}}">
                    <i class="large material-icons">mode_edit</i>
                </a>

                <div id="{{this._id}}" class="modal">
                    <div class="modal-content blue-text">
                        <h4>Modifier le supplément</h4>
                        <p>Il est possible de modifier le titre et le prix d'un supplément</p>
                        <div class="row simpleBackground">
                            <form class="col s12" action="/staff/extras/edit/{{this._id}}" method="post">
                                <div class="input-field col s6">
                                    <input name="description" id="description" type="text" class="validate" value="{{this.extraTitle}}">
                                    <label for="description" class="textColor active">Description de l'extra</label>
                                </div>
                                <div class="input-field col s2">
                                    <input name="price" id="price" type="number" class="validate" value="{{this.price}}">
                                    <label for="price" class="textColor active">Prix</label>
                                </div>

                                <button  style="margin-right:10px" class="btn  waves-effect waves-light col s2" type="submit" name="action">
                                    Editer
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="modal-action modal-close waves-effect waves-green btn-flat">Annuler</button>
                    </div>
                </div>

                <a class="btn-floating btn-large blue darken-1" href="/staff/extras/del/{{this._id}}">
                    <i class="large material-icons">delete</i>
                </a>
            </div>
        </div>

        {{/each}}
    </div>
</div>

<br>

<h4> Créer un nouveau supplément : </h4>
<br>
<form class="col s12 simpleBackground" action="/staff/extras/create" method="post">
    <div class="row">
        <div class="input-field col s9">
            <input id="icon_prefix" type="text" class="validate textColor" name="description" required>
            <label for="icon_prefix">Description de l'extra</label>
        </div>
        <div class="input-field col s3">
            <input id="icon_telephone" type="number" step="0.1" class="validate textColor" name="price" required>
            <label for="icon_telephone">Prix</label>
        </div>
    </div>
    <div class="row valign-wrapper">
        <button id="extrasButton" style="margin-left: 40%;" class="btn backgroundReverse waves-effect waves-light" type="submit" name="action">
            Créer l'extra
            <i class="material-icons right">send</i>
        </button>
    </div>
</form>
<br><br>

<div id="help" class="modal">
    <div class="modal-content">
        <h3>Aide</h3>
        <p>La section admin permet d'ajouter des membres du staff. La section Tournois permet de gérer les différents tournois. La section staff permet de gérer les joueurs, les courts, les extras, les paires et visionner les historiques. Le bouton logout vous déconnecte et vous ramène sur la page d'accueil.</p>

        <p>Cette page vous présente les extras qui existent déjà en base de données sous forme de cartes. Vous pouvez modifier un supplément en cliquant sur l'icone "Stylo" correspondant. Un pop-up apparait alors. Vous devez modifier les valeurs dans les champs proposés et cliquer sur "Editer" pour mettre à jour l'extra. Le bouton "Supprimer" supprimera l'extra de la base de données. Il s'agit de la même action si l'on clique sur l'icone "Poubelle" se trouvant directement sur la carte. En dessous des cartes, un formulaire vous permet de créer un nouveau supplément. Vous devez compléter les champs de description et le prix avant de cliquer sur le bouton "Créer l'extra".</p>
    </div>
</div>