{{#if errors}}
<div>
    <p>Les champs suivants sont incomplets:</p>

    {{#each errors}}
    <div class="chip red lighten-1 white-text">
        {{this}}
    </div>
    {{/each}}
</div>
{{/if}}


<div class="row">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s3"><a class="active" href="#edit-court">Modifier un terrain</a></li>
            <li class="tab col s3"><a href="#edit-edition">Modifier une édition</a></li>
            <li class="tab col s3"><a href="#add-edition">Ajouter une édition</a></li>
        </ul>
    </div>
</div>




<div id="edit-court" class="col s12">
        <h1> Modifier un terrain</h1>
        <div class="row">
            <form action="/court/edit/{{court._id}}" method="post" class="col s12 classic-form">
                <div class="row">
                    <div class="input-field col s6">
                        <input required name="courtNumber" id="courtNumber" type="number" class="validate" value="{{court.courtNumber}}">
                        <label for="courtNumber" class="active">Numéro de court*</label>
                    </div>
                    <div class="input-field col s6">
                        <input required  name="courtAddress" id="courtAddress" type="text" class="validate" value="{{court.courtAddress}}">
                        <label for="courtAddress" class="active">Adresse de court*</label>
                    </div>
                    <div class="input-field col s6">
                        <select name="courtSurface"  id="courtSurface">
                            <option value="{{court.courtSurface}}" selected>{{court.courtSurface}}</option>
                            <option value="Gazon">Gazon</option>
                            <option value="Synthétique">Synthétique</option>
                            <option value="Brique pilée">Brique pilée</option>
                            <option value="Béton">Béton</option>
                        </select>
                        <label>Surface du court</label>
                    </div>
                    <div class="input-field col s6">
                        <select name="typeOwner"  id="typeOwner">
                            <option value="{{court.typeOwner}}" selected> {{court.typeOwner}} </option>
                            <option value="Privé">Privé</option>
                            <option value="Club">Club</option>
                        </select>
                        <label>Type de court</label>
                    </div>
                    <div class="input-field col s8">
                        <input name="specialInstructions" id="specialInstructions" type="text" class="validate" value="{{court.specialInstructions}}">
                        <label for="specialInstructions" class="active">Instructions particulières</label>
                    </div>
                </div>{{!-- class="row"--}}
                <div class="row">
                    <button  style="margin-right:10px" class="btn original-color lighten-1 waves-effect waves-light col s2" type="submit" name="action">
                        Enregistrer
                    </button>
                </div>
            </form>
        </div>
</div>

<div id="edit-edition" class="col s12">
    <h1> Modifier une édition </h1>
    {{#each court.editions}}
    <form action="/court/edition/{{../court._id}}" method="post" class='col s12 classic-form'>
        <div class="row">
            <div class="col s6">
                <h4>Edition : {{this.year}}</h4>
                <p>{{this.encodedBy}} le {{commentFormat this.encodedAt}}</p>

                <select name="courtConditions"  id="courtConditions">
                    <option value="{{this.courtConditions}}" selected >{{this.courtConditions}}</option>
                    <option value="Mauvais">Mauvais</option>
                    <option  value="Bon">Bon</option>
                    <option value="Excellent">Excellent</option>
                </select>

                <div>
                    Le terrain est disponible pour le(s) jour(s) :<br>
                    <p>Samedi :
                        <span class="switch">
                          <label>
                              Indisponible
                              <input {{#if this.saturdayFree}} checked {{/if}}type="checkbox" value="free" name="saturdayFree">
                              <span class="lever"></span>
                              Disponible
                          </label>
                      </span>
                  </p>
                  <p>
                    Dimanche :
                    <span class="switch">
                      <label>
                          Indisponible
                          <input {{#if this.sundayFree}} checked {{/if}} type="checkbox" value="free" name="sundayFree">
                          <span class="lever"></span>
                          Disponible
                      </label>
                  </span>
              </p>
          </div>
      </div>
  </div>
  <div class="row">
    <button  style="margin-right:10px" class="btn original-color lighten-1 waves-effect waves-light col s2" type="submit" name="action" value="{{this._id}}">
        Enregistrer
    </button>
</div>
</form>
{{/each}}
</div>


<div id="add-edition" class="col s12">
    <h1>Ajouter une édition</h1>
    <form action="/court/addEdition/{{court._id}}" method="post" class='col s12 classic-form'>
       <div class="row">
        <div class="col s6">
            <label for="year">Année</label>
            <input id="year" type="number" name="year" value="{{nextYear}}">

            <select name="courtConditions"  id="courtConditions">
                <option value="" disabled selected >Choisir un état :</option>
                <option value="Mauvais">Mauvais</option>
                <option  value="Bon">Bon</option>
                <option value="Excellent">Excellent</option>
            </select>

            <div>
                Le terrain est disponible pour le(s) jour(s) :<br>
                <p>Samedi :
                    <span class="switch">
                      <label>
                          Indisponible
                          <input type="checkbox" value="free" name="saturdayFree">
                          <span class="lever"></span>
                          Disponible
                      </label>
                  </span>
              </p>
              <p>
                Dimanche :
                <span class="switch">
                  <label>
                      Indisponible
                      <input type="checkbox" value="free" name="sundayFree">
                      <span class="lever"></span>
                      Disponible
                  </label>
              </span>
          </p>
      </div>
  </div>
</div>
<div class="row">
    <button  style="margin-right:10px" class="btn original-color lighten-1 waves-effect waves-light col s2" type="submit" name="action" value="{{this._id}}">
        Enregistrer
    </button>
</div>
</form>

</div>
{{#if history}}

<h4 class="textColor"> Liste des modifications récentes</h4>

<table class="bordered striped">
    <thead>
        <tr class="simpleBackground">
            <th data-field="author">Auteur</th>
            <th data-field="date">Date</th>
            <th data-field="type">Type</th>
            <th data-field="field">Champ</th>
            <th data-field="adress">Valeur précédente</th>
        </tr>
    </thead>

    <tbody>
        {{#each history}}
        <tr class="backgroundReverse">
            <td>{{this.author}}</td>
            <td>{{commentFormat this.date}}</td>
            <td>{{this.updatedCollection}}</td>
            <td>{{this.updatedField}}</td>
            <td>{{this.oldValue}}</td>
        </tr>
        {{/each}}


    </tbody>
</table>

{{/if}}

<div id="help" class="modal">
    <div class="modal-content">
        <h3>Aide</h3>
        <p>La section admin permet d'ajouter des membres du staff. La section Tournois permet de gérer les différents tournois. La section staff permet de gérer les joueurs, les courts, les extras, les paires et visionner les historiques. Le bouton logout vous déconnecte et vous ramène sur la page d'accueil.</p>

        <p> Cette page permet de mettre à jour les données suivantes du court:
            - le numéro de court,
            - l'adresse du court,
            - la surface du court,
            - le type de propriétaire du court,
            - les instructions particluières demandées par le propriétaire.</p>

            <p>/!\ les instructions particluières ne sont pas les commentaires du staff! Pour accéder à ces informations, retournez sur la liste des courts et cliquez sur la ligne du court en question pour accédez aux informations détaillées et aux commentaires précédents du staff.</p>

            <p>Il suffit de modifier simplement la valeur du champ à mettre à jour avant de cliquer sur le bouton "Enregistrer" (Si vous ne cliquez pas, rien ne changera).</p>

            <p>Vous pouvez aussi visualiser l'historique des modifications de ce court. </p>
        </div>
    </div>