<h3 class="textColor"> Gérer le groupe </h3>
<div class="row">
	<div style="padding-left: 2%; padding-right: 2%;">
		<h4 class="textColor col s5"> Liste des paires</h4>
		<h4 class="textColor col s5 push-s1"> Paires inscrites</h4>
	</div>
</div>
<div class="row">
	<div id='playersList' class="col s5">
	<h4>Aucune paire disponible</h4>
	</div>
	<div class="col s5 push-s1">
		<table class="bordered">
    	<thead>
      	<tr>
        	<th data-field="playersName">Noms des joueurs</th>
      		</tr>
    	</thead>

    		<tbody id="participatingPairs">       
    		</tbody>
  		</table>
	</div>
</div>
<div class="row">
	<div style="padding-left: 2%; padding-right: 2%;">
		<h4 class="textColor col s5"> Liste des terrains</h4>
		<h4 class="textColor col s5 push-s1"> Options</h4>
	</div>
</div>
<div class="row">
	<div id='courtsList' class="col s5">
	<h4>Aucun terrain disponible</h4>	
	</div>
	<div class="col s5 push-s1">
		<table class="bordered ">
    	<thead>
      	<tr>
        	<th data-field="cAddress">Terrain choisi</th>
      	</tr>
    	</thead>
    	<tbody id="selectedCourt">       
    	</tbody>
  		</table>
  		<h5 class="textColor" >Choissisez un chef d'équipe</h5>
		<select id="tLeader">
			<option value="" disabled selected>Choissisez le chef d'équipe</option>
        </select>
        <div class="input-field">
          <select id="nbWiningPairs">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
          <label class="textColor" for="nbWiningPairs">Choissisez le nombre de paires sortantes</label>
        </div>
	</div>
</div>
<div class="row">
	<div class="col push-s4">
		<a id="sendMail" class="waves-effect waves-light btn-large disabled">Notifier par mail<i class="material-icons right">email</i></a>
		<a id="validate" class="waves-effect waves-light btn-large disabled">Valider<i class="material-icons right">done</i></a>
	</div>
</div>
<input id="tournamentId" type="hidden" value={{tournamentId}} />
<div id="modalsZone">
</div>

<a id="needHelp" data-target="help" class="btn-floating btn-large waves-effect waves-light modal-trigger" href="#help"><i class="material-icons">?</i></a>
<div id="help" class="modal">
  <div class="modal-content">
    <h3>Aide</h3>
    <p>La section admin permet d'ajouter des membres du staff. La section Tournois permet de gérer les différents tournois. La section staff permet de gérer les joueurs, les courts, les extras, les paires et visionner les historiques. Le bouton logout vous déconnecte et vous ramène sur la page d'accueil.</p>

    <p>Le groupe tel qu'il a été laissé quand il a été créé s'affiche.</p>

    <p>Il faut définir les paires qui vont appartenir au groupe en cliquant sur le signe "+" correspondant dans la liste (à gauche) des paires disponibles pour ce type de tournoi. La paire change de coté et entre dans la liste des paires inscrites à droite. Pour désinscrire une paire, il faut cliquer sur le signe "-" correspondant. </p>

    <p>De la même façon, il faut choisir un terrain parmi ceux proposés dans la liste de gauche. Le terrain choisit s'affiche à droite et aucun autre terrain ne peut être sélectionné dans la colonne de gauche. Pour changer de terrain, il faut cliquer sur le "-" du terrain choisit. Il retourne alors dans la liste de gauche et un autre terrain peut être choisi.</p>

    <p>Parmi les joueurs, un chef d'équipe doit être sélectionné. Le nombre de paires sortantes est le nombre de paires qui pourront participer au knock-off de l'après-midi.</p>

    <p>Le bouton "Notifier par mail" envoie un rappel de payement aux joueurs pas en ordre, prévient le chef d'équipe qu'il a endossé le role et qu'il doit se rendre au quartier général pour obtenir plus d'informations. Il faut cliquer sur le bouton "Valider" pour mettre à jour le groupe.</p>
  </div>
</div>