    

{{#if msgStatus}}    
<div class="card-panel white-text  blue lighten-2 ">
    <i class="white-text small material-icons left">done</i>
    <h5 class="white-text ">{{msgStatus}}</h5>
</div>
{{/if}}


{{#if errors}}
<div>
    <p>Les champs suivants sont incomplets:</p>
    <ul>
        {{#each errors}}
        <div class="chip red lighten-1 white-text">
            {{this}}
        </div>
        {{/each}}
    </ul>
    </div>
{{/if}}

<div class="card-panel blue lighten-1 white-text z-depth-2" style="border-radius: 10px;">
    <h4> Créer une nouvelle Paire </h4>
    <br>
    <form class="col s12 simpleBackground" action="/staff/pair/create" method="post">
        <div class="row">
            <div class="col s1">
                <i class="medium material-icons prefix">account_circle</i>
            </div>
            <div class="input-field col s5">
                <select id="player1" name="player1">
                    <option value="" disabled selected>Choissisez un joueur </option>
                    {{#each players}}
                    <option value="{{this._id}}"> {{this.firstName}} {{this.lastName}}</option>
                    {{/each}}
                </select>
                <label class="white-text" for="player1">Selectionnez un joueur</label>
            </div>


            <div class="col s1">
                <i class="medium material-icons prefix">account_circle</i>
            </div>
            <div class="input-field col s5 ">
                <select id="player2" name="player2">
                    <option value="" disabled selected>Choissisez un joueur </option>
                    {{#each players}}
                    <option value="{{this._id}}">{{this.firstName}} {{this.lastName}}</option>
                    {{/each}}
                </select>
                <label class="white-text" for="player2">Selectionnez un autre joueur</label>
            </div>
        </div>
        <br>

        <div class="row">

            <div class="input-field col s3 push-s1">
                <input id="montant" type="number" class="validate white-text" name="montant" >
                <label for="montant" class="white-text">Montant</label>
            </div>

            <div class="input-field col s7">
                <select name="payment" id="payment">
                    <option value="En attente">En attente</option>
                    <option value="Effectue">Effectué </option>
                </select>
                <label for="payment" class="white-text active">Etat du payement</label>
            </div>
        </div>
        <button id="extrasButton" style="margin-left: 40%;" class="btn backgroundReverse waves-effect waves-light" type="submit" name="action">
            Créer la paire
            <i class="material-icons right">send</i>
        </button>
    </form>
</div>

<h4 class="textColor"> Liste des Paires </h4>

<div class="row">
    <div class="col s4">
      <select id="sortSelect">
        <option value="" disabled selected>Trier les paires</option>
        <option value="all">Toutes les paires</option>
        <option value="paid">Paires ayant payées</option>
        <option value="nPaid">Paires n'ayant pas payées</option>
    </select>
</div>
</div>

<div id="sortedPlayers">

    <div class="row">
        {{#each pairs}}
        <div class="card col s4 m6 white-text text-center">
            <div class="blue lighten-1 pair-card">

                <div class="row">
                    <i class="medium material-icons prefix col s3">supervisor_account</i>
                    <ul class="col s9">

                        {{#each players}}
                        <li> {{this.firstName}} {{this.lastName}} </li>
                        {{/each}}

                    </ul>
                </div>
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">
                  <i class="material-icons right">settings</i>
              </span>

              <span class="black-text">
                <p>
                    Montant : {{this.montant}}
                </p>
                <p>
                    Etat du payement : {{this.payment}}
                </p>    
            </span>
        </div>


        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Modification de la paire<i class="material-icons right">close</i></span>

            <form action="/staff/pair/edit/{{this._id}}" method="post">
                <div class="input-field" style="margin-top: 20px;">
                    <input id="montant" type="number" class="validate grey-text" name="montant" value="{{this.montant}}">
                    <label for="montant" class="black-text">Montant</label>
                </div>
                <div class="input-field grey-text" style="margin-top: 40px;">
                    <select name="etatpayement" id="etatpayement">
                        {{#if this.payment }}
                        <option value="Effectue" selected>Effectué </option>
                        <option value="" >En attente</option>
                        {{else}}
                        <option value= "" selected>En attente</option>
                        <option value="Effectue" >Effectué </option>
                        {{/if}}
                    </select>
                    <label for="etatpayement" class="black-text active">Etat du payement</label>
                </div>
                <button  style="margin-right:10px" class="btn waves-effect waves-light" type="submit" name="action">
                    Enregistrer
                </button>
                <p class="center">
                    <a class="btn waves-effect waves-light red" href="/staff/pair/del/{{this._id}}" >
                        Supprimer cette paire
                    </a>
                </p>

            </form>
        </div>
        <div class="card-action pair-action">
            <ul>
                {{#each players}}
                <li><a href="/staff/edit/{{this._id}}">Modifier {{this.firstName}} {{this.lastName}}</a></li>
                {{/each}}
            </ul>
        </div>
    </div>
    {{/each}}
</div>

<a id="needHelp" data-target="help" class="btn-floating btn-large waves-effect waves-light modal-trigger" href="#help"><i class="material-icons">?</i></a>
<div id="help" class="modal">
    <div class="modal-content">
        <h3>Aide</h3>
        <p>Cette page vous permet de gérer les paires de joueurs: vous pouvez en créer une, visualiser les paires existantes, les mettre à jour et les supprimer.</p>

        <p>Pour créer une paire, vous devez choisir deux joueurs existant dans la base de données, déterminer le montant à payer en tout et l'état du payement avant de cliquer sur le bouton "Crée la paire". Cela permet entre autre de faire participer deux joueurs qui sont déjà enregistrés dans la base de données au tournoi de l'année courante sans qu'ils doivent s'inscrire par eux même sur le site.</p>

        <p>Les paires s'affichent sous forme de carte reprenant les noms des deux joueurs qu'elle contiennent, le montant d'inscription quecette paire doit payer et l'état du payement (en attente ou payé). Vous pouvez mettre à jour les profils des joueurs en cliquand sur les liens "Modifier untel". Vous pouvez mettre à jour la paire en cliquant sur l'icone de roue situé sur la carte correspondante.</p>
    </div>
</div>