<h1>Creation d'un nouveau tournoi</h1>

<form action="/staff/tournaments/create" method="post" class='col s12 classic-form'>
    <div class="row">
        <div class="col s3">
            <p style="margin-top: 0;">Jour du tournoi : </p>
        </div>
        <div class="col s4">
            <input class="with-gap" name="day" type="radio" id="radioSaturday" value="Saturday" checked/>
            <label for="radioSaturday">Samedi</label>
        </div>
        <div class="col s4 push-s1">
            <input class="with-gap" name="day" type="radio" id="radioSunday" value="Sunday" />
            <label for="radioSunday">Dimanche</label>
        </div>
    </div>
    <div class="row">
        <div class="col s3">
            <p style="margin-top: 0;">Type de tournoi : </p>
        </div>
        <div class="col s3">
            <input class="with-gap" name="type" type="radio" id="radioMixte" value="mixte" checked />
            <label for="radioMixte">Double Mixte</label>
        </div>
        <div class="col s3">
            <input class="with-gap" name="type" type="radio" id="radioWomen" value="femme" />
            <label for="radioWomen">Double Femmes</label>
        </div>
        <div class="col s3">
            <input class="with-gap" name="type" type="radio" id="radioMen" value="homme" />
            <label for="radioMen">Double Hommes</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <select name="category" id="category">
                <option value="Pré-minimes" selected>Pré-minimes</option>
                <option value="Minimes">Minimes</option>
                <option value="Scolaire">Scolaire</option>
                <option value="Junior">Junior</option>
                <option value="Seniors">Seniors</option>
                <option value="Elites">Elites</option>
            </select>
            <label for="category">Catégorie du tournoi</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <input id="ageMin" type="number" class="validate" name="ageMin" required/>
            <label for="ageMin">Année de naissance Minimale</label>
        </div>
        <div class="input-field col s6">
            <input id="ageMax" type="number" class="validate" name="ageMax" />
            <label for="ageMax">Année de naissance Maximale (vide = pas de limite)</label>
        </div>
    </div>
    <button class="btn waves-effect waves-light" type="submit" name="action">Ajouter le tournoi
        <i class="material-icons right">send</i>
    </button>
</form>
<br>
<br>
<a href="/staff/tournaments/create-tdf" class='col s12'>
<button class="btn waves-effect waves-light" type="submit" name="action">Ajouter le tournoi des familles
        <i class="material-icons right">send</i>
    </button>
</a>

<a id="needHelp" data-target="help" class="btn-floating btn-large waves-effect waves-light modal-trigger" href="#help"><i class="material-icons">?</i></a>
<div id="help" class="modal">
    <div class="modal-content">
        <h3>Aide</h3>
        <p>La section admin permet d'ajouter des membres du staff. La section Tournois permet de gérer les différents tournois. La section staff permet de gérer les joueurs, les courts, les extras, les paires et visionner les historiques. Le bouton logout vous déconnecte et vous ramène sur la page d'accueil.</p>

        <p>Vous pouvez créer un nouveau tournoi sur cette page. Vous devez choisir le jour (samedi ou dimanche), le type (mixte, femme ou homme (Attention, nous ne vérifions pas automatiquement que le type de tournois corresponde au jour!)), la catégorie et les années entre lesquelles les joueurs doivent être nés pour correspondre à la catégorie choisie. L'année minimale est l'année de naissance des joueurs les plus agés acceptés dans la catégorie. Pour ne pas mettre d'age maximum (comme pour la catégorie "Élite"), il suffit de laisser la case vide. L'année maximum correspond à l'année de naissance des joueurs les plus jeunes acceptés dans la catégorie. Laisser vide si pas d'age minimum. Il faut bien évidemment valider ces entrées en cliquant sur le bouton "Ajouter le tournoi".</p>
    </div>
</div>