<h1> Créer un nouveau groupe </h1>



<form action="/staff/tournaments/edit/{{tournament._id}}/group/save/" method="post">
  <div class="col s12">
    <div class="container">

    <div class="row">
        <div class="input-field col s12 m12">
          <select class="icons" id="pairesAChoisir">
            <option value="" disabled selected>Choissisez une paire</option>
            {{#each pairs}}
            <option value="{{this._id}}">{{this._id}}</option>

            {{/each}}
          </select>
          <label for="pairesAChoisir">Paires à choisir</label>
        </div>
      </div>


      <div class="row">
        <div class="input-field col s12 m12">
          <select class="icons">
            <option value="" disabled selected>Choissisez le terrain</option>
            {{#each courts}}
            <option value="{{this._id}}">{{this.courtAddress}}</option>

            {{/each}}
          </select>
          <label>Terrains à choisir</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <select id="pairesSortantes">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
          <label for="pairesSortantes">Choissisez le nombre de paires sortantes</label>
        </div>
      </div>

    </div>
  </div>

</form>

<a id="needHelp" data-target="help" class="btn-floating btn-large waves-effect waves-light modal-trigger" href="#help"><i class="material-icons">?</i></a>
<div id="help" class="modal">
  <div class="modal-content">
    <h3>Aide</h3>
    <p>La section admin permet d'ajouter des membres du staff. La section Tournois permet de gérer les différents tournois. La section staff permet de gérer les joueurs, les courts, les extras, les paires et visionner les historiques. Le bouton logout vous déconnecte et vous ramène sur la page d'accueil.</p>

    <p>Il faut définir les paires qui vont appartenir au groupe en cliquant sur le signe "+" correspondant dans la liste (à gauche) des paires disponibles pour ce type de tournoi. La paire change de coté et entre dans la liste des paires inscrites à droite. Pour désinscrire une paire, il faut cliquer sur le signe "-" correspondant. </p>

    <p>De la même façon, il faut choisir un terrain parmi ceux proposés dans la liste de gauche. Le terrain choisit s'affiche à droite et aucun autre terrain ne peut être sélectionné dans la colonne de gauche. Pour changer de terrain, il faut cliquer sur le "-" du terrain choisit. Il retourne alors dans la liste de gauche et un autre terrain peut être choisi.</p>

    <p>Parmi les joueurs, un chef d'équipe doit être sélectionné. Le nombre de paires sortantes est le nombre de paires qui pourront participer au knock-off de l'après-midi. Les paires ayant obtenu le plus de points à la fin de ce tournoi seront repris pour la phase d'élimination.</p>

    <p>Le bouton "Reset" réinitialise la création du groupe. Il faut cliquer sur le bouton "Confirmer" pour valider le groupe. un groupe doit être créé pour être notifié par mail.</p>
  </div>
</div>