<p>Le payement a été annulé.</p>
<p>Cependant, Vous avez correctement été inscrit, mais celle-ci ne sera totalement terminée que lorsque vous serez venus payer les frais d'inscription. Vous recevrez très prochainement un mail avec les informations détaillées.</p>