<div class="row">
    <div class="col s6 push-s3">
        <div class="card center">
            <div class="card-image">
                <img src="/img/rain.jpg">
                <span class="card-title" style="color: white;"><h5 style="color: white;">Intempéries</h5></span>
            </div>
            <div class="card-content black-text">
                <p>Cette section permet aux responsables d'accélérer le déroulement des tournois en cas d'intempéries. Pour ce faire, un nombre restreint de groupes sont formes à partir des paires de joueurs en tête de leurs groupes précédents. Autrement dit, les premiers de chaque groupe sont qualifiés. Cette fonctionnalité ne doit être employée qu'en cas de nécessité.</p>
            </div>
            <div class="card-action">
                <a href="/staff/tournaments/rainmode">
                    <div class="row blue-text text-lighten-1">
                        <i class="large material-icons">cloud</i>
                        <p>Passer en mode pluie</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>