{{#if msgStatus}}

    <div class="card-panel white-text  blue lighten-2 ">
        <i class="white-text small material-icons left">done</i>
        <h5 class="white-text ">{{msgStatus}}</h5>
    </div>

{{/if}}

<div class="card-panel blue darken-2 white-text">
    <h4>
        Répartir les nouveaux groupes dans les terrains couverts
    </h4>
    <p>
        Les groupes nouvellement formés doivent maintenant être répartis sur les terrains couverts, à savoir ceux des clubs. Le tournoi pourra ensuite reprendre son cours.
    </p>
</div>

{{#each tournaments}}
    <div class="card-panel blue-grey lighten-4">
        <h5>
            Tournoi {{this.category}} de type {{this.type}} du {{translateDay this.day}}
        </h5>

        <table class="bordered striped">
            <thead>
            <tr>
                <th data-field="id">Groupe</th>
                <th data-field="terrain">Choix du terrain</th>
            </tr>
            </thead>

            <tbody>
            {{#each this.groups}}
                <tr>
                    <td>
                        <h5>Groupe de {{this.leader.firstName}} {{this.leader.lastName}}</h5>
                    </td>
                    <td>
                        <form action="/staff/tournaments/manage_rainmode/reassign/{{../this._id}}/{{this._id}}" method="post">
                            <select id="{{this._id}}" name="{{this._id}}">
                                <option value="" disabled selected>Choissisez un terrain</option>
                                {{#each ../../courts}}
                                    <option value="{{this._id}}">{{this.courtAddress}}</option>
                                {{/each}}
                            </select>
                            <button class="btn waves-effect waves-light" type="submit" name="action">Valider
                                <i class="material-icons right">send</i>
                            </button>
                        </form>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>

    </div>
{{/each}}

<div class="card-panel blue darken-2 white-text center">
    <h2>Valider la répartition des groupes</h2>

    <a class="white-text col s2 btn original-color lighten-1 waves-effect waves-light" href="/staff/tournaments/manage_rainmode/reassign/done" >
        Valider
    </a>
</div>

<!-- <form class="col s12" action="/staff/tournaments/edit/{{tournamentId}}/group/encode/{{groupId}}/" method="post">
  <input type="hidden" id="tournamentId" value="{{tournamentId}}">
  <input type="hidden" id="groupId" value="{{groupId}}">

  <div class="row">
   <div class="input-field col s6 ">
    <select id="pair1" name="pair1">
      <option value="" disabled selected>Choissisez une paire </option>
      {{#each pairs}}
      <option value="{{this.id}}">{{this.name}}</option>
      {{/each}}
    </select>
    <label>Selectionnez une paire</label>
  </div>
  <div class="input-field col s2 ">
  <input name="pair1_score" id="pair1_scores"  type="number" class="validate" required >
   <label for="pair1_score">Score</label>
 </div>
</div>
<div class="row" id="pair2-wrapper">
 <div class="input-field col s6 ">
  <select id="pair2" name="pair2">
  </select>
  <label>Selectionnez une autre paire</label>
</div>
<div class="input-field col s2 ">
 <input name="pair2_score" id="pair2_score" type="number" class="validate" required >
 <label for="pair2_score">Score</label>
</div>
</div>

<p style='color:red' id='error-msg'></p>
<button class="btn waves-effect waves-light" type="submit" name="action">Ajouter le résultat
  <i class="material-icons right">send</i>
</button>
</form>
 -->