<div class="row">
    <div class="card original-color lighten-1">
        <div class="card-content blue-text">
	        Félicitations! Votre terrain de tennis a été enregistré avec succès.
        </div>
    </div>
</div>

<a id="needHelp" data-target="help" class="btn-floating btn-large waves-effect waves-light modal-trigger" href="#help"><i class="material-icons">?</i></a>
<div id="help" class="modal">
    <div class="modal-content">
        <h3>Aide</h3>
        <p>Vous avez ici confirmation que votre court de tennis a bien été enregistré comme "prêté pour le tournoi de cette année". Merci!</p>
    </div>
</div>