{{#if errors}}
    <div>
        <p>Les champs suivants sont incomplets:</p>
        <ul>
            {{#each errors}}
                <div class="chip red lighten-1 white-text">
                    {{this}}
                </div>
            {{/each}}
        </ul>
    </div>
{{/if}}

<div class="row">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s3"><a class="active" href="#owner-info">Données personnelles</a></li>
            <li class="tab col s3"><a href="#court-info">Caractéristiques du terrain</a></li>
        </ul>
    </div>
</div>

<form action="/register-owner/add" method="post">
    <div id="owner-info" class="col s12">
        <div class="container simpleBackground" style="padding:15px;">
            <div class="row">
                <div class="input-field col s2">
                    <select name="title" id="title">
                        <option value="{{val.title}}" disabled selected>{{val.title}}</option>
                        <option value="Mr">M</option>
                        <option value="Mrs">Mme</option>
                    </select>
                    <label>Titre*</label>
                </div>
                <div class="input-field col s5">
                    <input name="first_name" id="first_name" type="text" class="validate" value="{{val.first_name}}">
                    <label for="first_name">Prénom*</label>
                </div>
                <div class="input-field col s5">
                    <input name="last_name" id="last_name" type="text" class="validate" value="{{val.last_name}}">
                    <label for="last_name">Nom*</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    <input placeholder="Entrez votre adresse" name="street" id="street" type="text" class="validate" value="{{val.street}}">
                    <label class="active" for="street">Adresse*</label>
                </div>
                <div class="input-field col s3">
                    <input name="streetNumber" id="streetNumber" type="number" class="validate" value="{{val.streetNumber}}">
                    <label for="streetNumber">Numéro*</label>
                </div>
                <div class="input-field col s3">
                    <input name="box" id="box" type="number" value="{{val.box}}">
                    <label for="box">Boite</label>
                </div>
                <div class="input-field col s4">
                    <input name="zipCode" id="zipCode" type="number" class="validate" value="{{val.zipCode}}">
                    <label for="zipCode">Code Postal*</label>
                </div>
                <div class="input-field col s8">
                    <input name="city" id="city" type="text" class="validate" value="{{val.city}}">
                    <label for="city">Ville*</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    <input name="gsm" id="gsm" type="tel" class="validate" value="{{val.gsm}}">
                    <label for="gsm">GSM*</label>
                </div>
                <div class="input-field col s6">
                    <input name="email" id="email" type="email" class="validate" value="{{val.email}}">
                    <label for="email">Adresse e-mail*</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input name="phoneFix" id="phoneFix" type="tel" value="{{val.phoneFix}}">
                    <label for="phoneFix">Téléphone fixe</label>
                </div>
                <div class="input-field col s6">
                    <input name="fax" id="fax" type="tel" value="{{val.fax}}">
                    <label for="fax">Fax</label>
                </div>
            </div>
        </div>
    </div>
    <div id="court-info" class="col s12">
        {{!-- Caractéristiques du terrain --}}
        <div class="container simpleBackground" style="padding:15px;">
            <div class="row">
                <div class="col s6">
                    <p>Le terrain a la même adresse que le propriétaire:</p>
                    <div class="switch">
                        <label>
                            Oui
                            <input type="checkbox" id="sameAddress" name="sameAddress" {{#if val.sameAddress}} checked {{/if}}>
                            <span class="lever"></span>
                            Non
                        </label>
                    </div>
                </div>
            </div>
            <div class="row" id="AddressCourt">
                <div class="input-field col s6">
                    <input placeholder="Entrez l'adresse du terrain" name="streetCourt" id="streetCourt" type="text" value="{{val.streetCourt}}" >
                    <label class="active" for="street">Adresse*</label>
                </div>
                <div class="input-field col s3">
                    <input name="streetNumberCourt" id="streetNumberCourt" type="number" value="{{val.streetNumberCourt}}">
                    <label for="streetNumberCourt">Numéro*</label>
                </div>
                <div class="input-field col s3">
                    <input name="boxCourt" id="boxCourt" type="number" value="{{val.boxCourt}}">
                    <label for="boxCourt">Boite</label>
                </div>
                <div class="input-field col s4">
                    <input name="zipCodeCourt" id="zipCodeCourt" type="number" value="{{val.zipCodeCourt}}">
                    <label for="zipCodeCourt">Code Postal*</label>
                </div>
                <div class="input-field col s8">
                    <input name="cityCourt" id="cityCourt" type="text" value="{{val.cityCourt}}">
                    <label for="cityCourt">Ville*</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <select name="surface" id="surface">
                        <option value="{{val.surface}}" disabled selected>{{val.surface}}</option>
                        <option value="Béton">Béton</option>
                        <option value="Synthétique">Synthétique</option>
                        <option value="Gazon">Gazon</option>
                        <option value="Brique pilée">Brique pilée</option>
                    </select>
                    <label for="surface">Surface*</label>
                </div>
                <div class="col s6 right-align">
                    <p>Le terrain est tenu par : </p>
                    <p>
                        <input name="ownerType" type="radio" id="private" value="Privé" {{#if val.ownerType}} checked {{/if}} />
                        <label for="private">Un particulier</label>
                    </p>
                    <p>
                        <input name="ownerType" type="radio" id="club" value="Club" />
                        <label for="club">Un club</label>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="input-field col s6">
                        <input name="courtNumber" id="courtNumber" type="text" value="{{val.courtNumber}}">
                        <label for="courtNumber">Numéro du terrain :</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    Le terrain est disponible pour le(s) jour(s) :
                    <p>Samedi :</p>
                    <div class="switch">
                        <label>
                            Indisponible
                            <input type="checkbox" id="saturdayFree" value="free" name="saturdayFree" {{#if val.saturdayFree}}checked{{/if}}>
                            <span class="lever"></span>
                            Disponible
                        </label>
                    </div>
                    <p>Dimanche :</p>
                    <div class="switch">
                        <label>
                            Indisponible
                            <input type="checkbox" id="sundayFree" value="free" name="sundayFree" {{#if val.sundayFree}}checked{{/if}}>
                            <span class="lever"></span>
                            Disponible
                        </label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <textarea id="instructions" class="materialize-textarea" name="instructions">{{val.instructions}}</textarea>
                    <label for="instructions">Instructions particulières</label>
                </div>
            </div>
        </div>
        <br>
        <div class="row valign-wrapper">
            <button style="margin-left: 40%;" class="btn original-color lighten-1 waves-effect waves-light" type="submit" name="action">
                Envoyer
                <i class="material-icons right">send</i>
            </button>
        </div>
    </div>


</form>

<a id="needHelp" data-target="help" class="btn-floating btn-large waves-effect waves-light modal-trigger" href="#help"><i class="material-icons">?</i></a>
<div id="help" class="modal">
    <div class="modal-content">
        <h3>Aide</h3>
        <p>Cette page permet de prêter un court de tennis à l'association pour le tournoi. Elle est constituée de deux parties: les informations du propriétaire et les informations du court.</p>

        <p>Si vous souhaitez prêter plusieurs courts, il faut remplir ces deux formulaires à chaque fois. Le numéro du court permet de retrouver le court en question parmi d'autres. </p>

        <p>Dans le champ "Instructions particulières", vous pouvez expliquer comment se rendre au court, les insctructions à suivre pour les joueurs et vos demandes particulières.</p>
    </div>
</div>