{{#if msgError1}}
    <div>
        <p>Les champs suivants pour le joueur 1 sont incomplets:</p>
        <ul>
            {{#each msgError1}}
                <div class="chip orange white-text">
                    {{this}}
                </div>
            {{/each}}
        </ul>
    </div>
{{/if}}
{{#if msgError2}}
    <div>
        <p>Les champs suivants pour le joueur 2 sont incomplets:</p>
        <ul>
            {{#each msgError2}}
                <div class="chip orange white-text">
                    {{this}}
                </div>
            {{/each}}
        </ul>
    </div>
{{/if}}
<form action="/register/add" method="post" class="col s12">
    <h4> Information joueur 1</h4>
    <div class="row">
        <div class="input-field col s2">
            <select name="title1" id="title1" required>
                <option value="Mr" selected>Mr</option>
                <option value="Mrs">Mrs</option>
            </select>
            <label>Titre*</label>
        </div>
        <div class="input-field col s5">
            <input name="first_name1" id="first_name1" type="text" class="validate" required>
            <label for="first_name1">Prénom*</label>
        </div>
        <div class="input-field col s5">
            <input name="last_name1" id="last_name1" type="text" class="validate" required>
            <label for="last_name1">Nom*</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <input name="street1" id="street1" type="text" class="validate" required>
            <label for="street1">Adresse*</label>
        </div>
        <div class="input-field col s1">
            <input name="streetNumber1" id="streetNumber1" type="number" class="validate" required>
            <label for="streetNumber1">Numéro*</label>
        </div>
        <div class="input-field col s1">
            <input name="box1" id="box1" type="number">
            <label for="box1">Boite</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s2">
            <input name="zipCode1" id="zipCode1" type="number" class="validate" required>
            <label for="zipCode1">Code Postal*</label>
        </div>
        <div class="input-field col s6">
            <input name="city1" id="city1" type="text" class="validate" required>
            <label for="city1">Ville*</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <input name="gsm1" id="gsm1" type="tel" class="validate" required>
            <label for="gsm1">GSM*</label>
        </div>
        <div class="col s6">
            <label for="birthDate2">Date de naissance*</label>
            <input placeholder="Date de naissance*" name="birthDate1" id="birthDate1" type="date" class="datepicker" required>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <input name="email1" id="email1" type="email" class="validate" required>
            <label for="email1">Email*</label>
        </div>
        <div class="input-field col s2">
            <select name="aftRanking1" id="aftRanking1" required>
                {{#each rankings}}
                    <!--<option value="N.C.">N.C.</option>
                    <option value="C30.5">C30.5</option>
                    <option value="C30.4">C30.4</option>
                    <option value="C30.3">C30.3</option>
                    <option value="C30.2">C30.2</option>
                    <option value="C30.1">C30.1</option>
                    <option value="C30">C30</option>
                    <option value="C15.5">C15.5</option>
                    <option value="C15.4">C15.4</option>
                    <option value="C15.3">C15.3</option>
                    <option value="C15.2">C15.2</option>
                    <option value="C15.1">C15.1</option>
                    <option value="C15">C15</option>
                    <option value="B+4/6">B+4/6</option>
                    <option value="B+2/6">B+2/6</option>
                    <option value="B0">B30.3</option>
                    <option value="B-2/6">B-2/6</option>
                    <option value="B-4/6">B-4/6</option>-->
                    <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
            <label for="aftRanking1">Classement*</label>
        </div>
    </div>
    <h4> Information joueur 2 </h4>
    <div class="row">
        <div class="input-field col s2">
            <select name="title2" id="title2" required>
                <option value="Mr" selected>Mr</option>
                <option value="Mrs">Mrs</option>
            </select>
            <label for="title2">Titre*</label>
        </div>
        <div class="input-field col s5">
            <input name="first_name2" id="first_name2" type="text" class="validate" required>
            <label for="first_name2">Prénom*</label>
        </div>
        <div class="input-field col s5">
            <input name="last_name2" id="last_name2" type="text" class="validate" required>
            <label for="last_name2">Nom*</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <input name="street2" id="street2" type="text" class="validate" required>
            <label for="street2">Adresse*</label>
        </div>
        <div class="input-field col s1">
            <input name="streetNumber2" id="streetNumber2" type="number" class="validate" required>
            <label for="streetNumber2">Numéro*</label>
        </div>
        <div class="input-field col s1">
            <input name="box2" id="box2" type="number">
            <label for="box2">Boite</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s2">
            <input name="zipCode2" id="zipCode2" type="number" class="validate" required>
            <label for="zipCode2">Code Postal*</label>
        </div>
        <div class="input-field col s6">
            <input name="city2" id="city2" type="text" class="validate" required>
            <label for="city2">Ville*</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <input name="gsm2" id="gsm2" type="tel" class="validate" required>
            <label for="gsm2">GSM*</label>
        </div>
        <div class="col s6">
            <label for="birthDate2">Date de naissance*</label>
            <input placeholder="Date de naissance*" name="birthDate2" id="birthDate2" type="date" class="datepicker" required>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <input name="email2" id="email2" type="email" class="validate" required>
            <label for="email2">Email*</label>
        </div>
        <div class="input-field col s2">
            <select name="aftRanking2" id="aftRanking2" required>
                {{#each rankings}}
                    <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
            <label for="aftRanking2">Classement*</label>
        </div>
    </div>

    <div class="divider"></div>
    <div class="row">
        <div class="card">
            <div class="card-content blue-text">
                <span style='font-size:22px'>Je soutiens les projets de l'asbl asmae par ...</span>
                <p>
                    2 x 20 € : Inscription au tournoi de tennis
                </p>
                <div class="divider"></div>
                <p>
                    Total : 40 €
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="card-content ">

                <fieldset>
                    <h5>Extras</h5>
                    <div id="extras_list">
                        <!-- hidden form input to force the use of an object over an array -->
                        {{!-- <input type='hidden' name='extra[null]' /> --}}
                        {{#each extras}}
                            <div class="input-field col s12">
                                <input class="col s4" type="number" name="extra[{{this.id}}]" value="0">
                                x {{this.price}} € : {{this.title}}
                            </div>
                            <br>
                        {{/each}}
                    </div>

                </fieldset>
            </div>
        </div>
    </div>
    <div class="row">

    </div>
    <div class="row">
        <div class="card simpleBackground">
            <div class="card-content">
                <p class="simpleBackground">
                    Merci de préciser ci-dessous le nom du responsable de la poule et des autres joueurs si vous êtes dans une poule formée.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s8 push-s2">
            <textarea name="comments" id="comments" class="materialize-textarea"></textarea>
            <label for="comments">Autres remarques, commentaires, ...</label>
        </div>
    </div>
    <div class="row valign-wrapper">
        <button style="margin-left: 40%;" class="btn simpleBackground waves-effect waves-light" type="submit" name="action">
            Envoyer
            <i class="material-icons right">send</i>
        </button>
    </div>
</form>

<a id="needHelp" data-target="help" class="btn-floating btn-large waves-effect waves-light modal-trigger" href="#help"><i class="material-icons">?</i></a>
<div id="help" class="modal">
    <div class="modal-content">
        <h3>Aide</h3>
        <p>Cette page vous permet d'inscrire une paire de joueurs de tennis au tournoi. Vous ne pouvez pas vous inscrire seul. Il faut remplir les informations personnelles de chaque joueur. </p>

        <p>Le classement est le niveau de compétition dans lequel vous vous situez selon l'Association française de Tennis. Cette information permet de vous faire jouer contre des adversaires de votre niveau. N.C. signifie "Non classé". Les joueurs d'un niveau suppérieur à B15 ne sont pas acceptés au tournoi. Merci de votre compréhension.</p>

        <p>Si vous ne voulez aucun des extras proposés, entrez de préférence 0 au lieu de ne rien mettre.</p>

        <p>Si vous souhaitez jouer contre des personnes déjà inscrites, cochez la case "je suis inscrit dans une poule déjà formée" et indiquez le nom des joueurs en question dans la case de commentaires en dessous.</p>

        <p>Vous pouvez écrire ce que vous voulez dans le champ commentaires. Ces messages seront relayés au staff. Par exemple, si vous ne souhaitez pas être responsable de groupe ou si vous avez une question, c'est là qu'il faut l'indiquer.</p>

        <p>Cliquer sur le bouton "Envoyer" valide votre inscription au tournoi. Merci de vérifier vos informations avant.</p>
    </div>
</div>