<form>
    <div class="row">
        <div class="card green accent-4">
            <div class="card-content white-text">
		        <span class="card-title">
		        	Vous et votre partenaire êtes maintenant enregistré pour le tournoi
	        	</span>
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <div class="row">

        <div class="card green accent-4">
            <div class="card-content white-text">
                <span class="card-title">Je soutiens les projets de l'asbl asmae par ...</span>
                <p>
                    2 * 20 € : Inscription au tournoi de tennis
                </p>
                {{#each extras_to_registered}}
                    <p>
                        {{this.qty}} * {{this.extras.price}}€ : {{this.extras.extraTitle}}
                    </p>
                {{/each}}
                <div class="divider"></div>
                <p>
                    Total : {{totalPrice}} €
                </p>
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <div class="row">
        <p class="right-align">
            <a class="wave-effect wave-light btn-large" href="/to_pay_reminder">
                <i class="material-icons left">shopping_cart</i>payer en cash
            </a>
        </p>
        <p class="right-align">
            <a class="wave-effect wave-light btn-large" href="/payment-create/{{pairId}}">
                <i class="material-icons left">credit_card</i>payer avec Paypal

            </a>
        </p>
    </div>
</form>

<a id="needHelp" data-target="help" class="btn-floating btn-large waves-effect waves-light modal-trigger" href="#help"><i class="material-icons">?</i></a>
<div id="help" class="modal">
    <div class="modal-content">
        <h3>Aide</h3>
        <p>Cette page confirme votre inscription, récapitule les frais à payer et vous propose différents choix de payement. Un mail récapitulatif des données personnelles a été envoyé à chacun des joueurs.</p>
    </div>
</div>