{{#unless isEnded}}
    <div class="row">
        <div class="col s12">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Encodage des matchs de KickOff</span>
                    <p>
                        En vis à vis de chaque participant à un match, si le match est disponible (les deux participants sont prêts).<br>
                        L'encodage des points se fait par Set, séparé par une ",".<br>
                        Il est nécéssaire d'encoder les Set d'une partie en même temps, c'est-à-dire, <br>
                        enregistrer les points des deux parties impliquées dans le match en même temps.
                    </p>
                </div>
            </div>
        </div>
    </div>
    {{#with msgError}}
        {{this}}
    {{/with}}
    <form method="post" action="/staff/tournaments/edit/{{tournamentId}}/elimination">
{{/unless}}
{{{bracket}}}
{{#unless isEnded}}
        <br>
        <div class="row">
            <div class="col s5 push-s6">
                <button type="submit" class="waves-effect waves-light btn">
                    Ajouter les scores <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </form>
{{/unless}}

<a id="needHelp" data-target="help" class="btn-floating btn-large waves-effect waves-light modal-trigger" href="#help"><i class="material-icons">?</i></a>
<div id="help" class="modal">
    <div class="modal-content">
        <h3>Aide</h3>
        <p>La section admin permet d'ajouter des membres du staff. La section Tournois permet de gérer les différents tournois. La section staff permet de gérer les joueurs, les courts, les extras, les paires et visionner les historiques. Le bouton logout vous déconnecte et vous ramène sur la page d'accueil.</p>

        <p>Le récapitulatif des matchs d'élimination est affiché sous forme de bracket avec, pour chaque match, le terrain sur lequel il se déroule. Comme expliqué sur la page, vous devez entrer les résultats par set, séparés par une virgule en vis à vis de la paire concernée. Les deux paires du match doivent avoir un score pour déterminer laquelle passe à l'étape suivante. Cette action s'effectue lors du clic sur le bouton "Ajouter les scores". le vainqueur est alors marqué en gras et recopié sur la branche parente suivante. </p>

    </div>
</div>