

{{#if msgStatus}}

    <div class="card-panel white-text">
        <i class="light-blue-text small material-icons left">done</i>
        <h5 class="light-blue-text text-lighten-3">{{msgStatus}}</h5>
    </div>

{{/if}}


<h3 class="textColor"> Liste des joueurs </h3>
<div class="row ">
    <div class="input-field col s5">
        <input id="player-search" name="player-search" type="text" class="validate textColor">
        <label for="player-search">Recherchez un joueur</label>

    </div>
</div>

    <table class="bordered striped">
        <thead>
        <tr class="simpleBackground">
            <th data-field="fname">Prénom</th>
            <th data-field="lname">Nom de famille</th>
            <th data-field="gsm">GSM</th>
            <th data-field="email">Email</th>
            <th data-field="adress">Adresse</th>
            <th data-field="edit">Modifier</th>

        </tr>
        </thead>

        <tbody>
        {{#each players}}
            <tr class="backgroundReverse">
                <td>{{this.firstName}}</td>
                <td>{{this.lastName}}</td>
                <td>{{this.gsm}}</td>
                <td>{{this.email}}</td>
                <td>{{concatAddress this.street this.streetNumber this.zipCode this.city}}</td>
                <th> <a href="/staff/edit/{{this._id}}">Modifier</a> </th>


            </tr>
        {{/each}}


        </tbody>
    </table>

    <a id="needHelp" data-target="help" class="btn-floating btn-large waves-effect waves-light modal-trigger" href="#help"><i class="material-icons">?</i></a>
    <div id="help" class="modal">
        <div class="modal-content">
            <h3>Aide</h3>
            <p>La section admin permet d'ajouter des membres du staff. La section Tournois permet de gérer les différents tournois. La section staff permet de gérer les joueurs, les courts, les extras, les paires et visionner les historiques. Le bouton logout vous déconnecte et vous ramène sur la page d'accueil.</p>

            <p>Cette page présente la liste de tous les joueurs contenus dans la base de données.
                Vous pouvez effectuer une recherche sur les champs nom, prénom et le numéro de téléphone en entrant simplement la suite de lettres que vous recherchez. La liste se met automatiquement à jour. Videz ce champ de recherche pour obtenir la liste complète des joueurs.</p>

            <p> Vous pouvez accéder aux données complètes d'un joueur en cliquant sur le bouton "Modifier". Vous pourrez alors mettre à jour ces données, supprimer le joueur ou juste accéder aux informations. </p>
        </div>
    </div>