/*
  Application css modules
  */
#menu {
  width: 100%;
  height: 50px;
}

/* 
Main Color 
Color = emerald 
*/
/* 
Main Color Darker
Color = emerald 
*/
/* 
Second Color
Color = pumpkin
*/
/* 
Main Color 
Color = emerald 
*/
/* 
Main Color Darker
Color = emerald 
*/
/* 
Second Color
Color = pumpkin
*/
#staff-menu li {
  background: #2ecc71;
  padding: 10px;
  border: 1px solid #27ae60;
  color: white;
  margin-right: 10px;
  width: 15%;
  display: inline-block;
  font-size: 16px;
  transition: all 150ms;
}
#staff-menu li:hover {
  background: white;
  color: black;
}

#pair2-wrapper {
  display: none;
}

/*
 *  Flex Layout Specifics
*/
main {
  display: flex;
  flex-direction: row;
}

.round {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  list-style: none;
  padding: 0;
}

.round .spacer {
  flex-grow: 1;
}

.round .spacer:first-child,
.round .spacer:last-child {
  flex-grow: .5;
}

.round .game-spacer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

li.game {
  padding-left: 20px;
}
li.game input {
  margin: 0;
  width: 31px;
  height: 100%;
}

li.game.winner {
  font-weight: bold;
}

li.game span {
  float: right;
  margin-right: 5px;
}

li.game-top {
  border-bottom: 1px solid #aaa;
}

li.game-spacer {
  border-right: 1px solid #aaa;
  min-height: 40px;
}
li.game-spacer select {
  position: relative;
  right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

li.game-bottom {
  border-top: 1px solid #aaa;
}

#morning-matches {
  padding: 10px;
  text-align: center;
  border: 1px solid grey;
}

.match {
  height: 30px;
  width: 100%;
}

.winners {
  color: #76BE67;
  float: left;
  display: inline-block;
}

.loosers {
  color: #BE444B;
  float: left;
  display: inline-block;
}

.vs {
  float: left;
  margin-left: 15px;
  margin-right: 15px;
}

.score {
  float: right;
  font-size: 16px;
  position: relative;
  left: -20%;
}

.score1 {
  padding: 5px;
}

.score2 {
  padding: 5px;
}

.status {
  background: #2ecc71;
  border-radius: 5px;
  padding: 5px;
  color: white;
  font-weight: normal;
}

.small-icon {
  font-size: 22px !important;
  vertical-align: -5px;
}

.phase-button {
  background: #2ecc71;
  padding: 10px;
  border: 1px solid #27ae60;
  color: white;
  margin-right: 10px;
  display: inline-block;
  font-size: 16px;
  transition: all 150ms;
  vertical-align: 25px;
}
.phase-button:hover {
  background: white;
  color: black;
}

.pagination li.active {
  background-color: #B3B3B3;
  color: white;
}

.delete-match {
  float: right;
}

.wishes {
  color: white;
  background-color: #FE9C41;
}

.wishesClickable:hover {
  cursor: pointer;
}

.pair-card {
  font-size: 16px;
}
.pair-card i {
  position: relative;
  left: 10%;
}

.pair-action a {
  color: #42A5F5 !important;
}
.pair-action a:hover {
  color: black !important;
}

#editionsCourtDetail {
  background-color: #D5D5D5;
}

#editionsCourtDetail > * {
  background-color: white;
}

/*
  Application css external libs
  */
html,
body {
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: url("http://image.noelshack.com/fichiers/2015/50/1449878819-halftone.png");
  color: #42A5F5;
  font-family: "Lato", sans-serif;
}

h1 {
  text-align: center;
}

a {
  color: #2ecc71;
}

.collapsible-body {
  padding: 0.5rem;
}

.classic-form {
  border: 1px solid grey;
  background: #E2E7F1;
  padding: 20px !important;
}

#needHelp {
  position: fixed;
  bottom: 2%;
  right: 2%;
}

#closeHelp {
  float: right;
}

.comment {
  color: #c0392b !important;
}

#map {
  width: 100%;
  height: 300px;
}

#surfaceTypeCard {
  height: 100px;
}

.typeSurfaceImg {
  height: 80px;
  width: 100px;
  position: absolute;
  right: 10px;
}

.clickable-row:hover {
  background-color: #DBE3EE;
  cursor: pointer;
}

li {
  list-style: none;
}

[type="checkbox"].filled-in:checked + label:after {
  border: 2px solid white;
}

.menu-item:hover {
  color: white;
}

nav {
  background: #2ecc71;
  box-shadow: none;
}

.card-title {
  color: grey !important;
}

a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
}

.logo-img {
  height: 75%;
  width: 15%;
  position: relative;
  left: 10px;
  vertical-align: middle;
}

.btn, .btn-large {
  text-decoration: none;
  color: #fff;
  background-color: #2ecc71;
  text-align: center;
  letter-spacing: .5px;
  -webkit-transition: .2s ease-out;
  -moz-transition: .2s ease-out;
  -o-transition: .2s ease-out;
  -ms-transition: .2s ease-out;
  transition: .2s ease-out;
  cursor: pointer;
}

.btn:hover, .btn-large:hover {
  background-color: #2bbbad;
}

label {
  color: grey !important;
}

.textColor {
  color: grey !important;
}

.secondColor {
  background-color: grey;
}

.card-title {
  color: white !important;
}

.card-action {
  background: white;
}
.card-action a {
  color: #A0A0A0 !important;
}
.card-action a:hover {
  color: black !important;
}

.tabs .tab a {
  color: #2ecc71;
}

.tabs .tab a:hover {
  color: #27ae60;
}

.tabs .indicator {
  background-color: #27ae60;
}

/*# sourceMappingURL=bundle.css.map */
